/*
Theme Name: Mantra
Theme URI: http://www.quemalabs.com
Description: A Premium WordPress Theme.
Version: 1.1
Author: Quema Labs
Author URI: http://www.quemalabs.com
License: GNU General Public License
License URI: License.txt
Tags: fullscreen, black, two-columns, fixed-width, custom-header, custom-background, threaded-comments, custom-menu
*/
/*
==========================================
Theme Styles
========================================== 
*/
html {
  font-size: 100%;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  background-color: #000000;
}
#wrap {
  position: relative;
  height: 100%;
}
/*
==========================================
Header
========================================== 
*/
#header {
  padding: 0 7.69230769230769em;
  margin-bottom: 0;
  position: relative;
}
.sub_header {
  background-color: #4c4c4c;
  color: #eeeeee;
  font-size: 0.84615384615385em;
  height: 30px;
  line-height: 30px;
  overflow: hidden;
}
.logo_container {
  color: #ffffff;
  margin: 1.92307692307692em 0;
}
.page-template-page-portfolio-php .logo_container {
  margin: 1.92307692307692em 0 0.38461538461538em 0;
}
.logo_container h1 {
  margin-bottom: 0;
  display: table-cell;
  vertical-align: middle;
}
.logo_container h1 a {
  color: #ffffff;
}
.logo_container p {
  float: left;
  line-height: 1.81818181818182em;
  color: #999999;
  font-size: 0.84615384615385em;
  margin-left: 1.53846153846154em;
  margin-top: 2.72727272727273em;
}
h2.intro_line {
  text-align: center;
  font-weight: normal;
  font-size: 2.07692307692308em;
  margin-bottom: 1.66666666666667em;
}
h2.intro_line strong {
  color: #ffffff;
}
/*-----------------------------*/
/*
Nav Menu
---------------------------------------*/
#header .navbar {
  margin-bottom: 0em;
  margin-top: 0;
}
#header .navbar .dropdown-toggle b {
  color: #a7a7a7;
  height: 10px;
}
#header .navbar-inner {
  background: transparent;
}
#header .jqueryslidemenu .nav {
  float: right;
}
/*Top level list items*/
#header .jqueryslidemenu > ul > li {
  float: left;
}
/*Top level menu link items style*/
#header .jqueryslidemenu > ul > li > a {
  text-decoration: none;
  font-weight: bold;
  color: #D7D7D7;
  font-size: 0.84615384615385em;
  padding: 40px 20px 25px 20px!important;
  text-transform: uppercase;
  display: table-cell;
  vertical-align: middle;
  text-shadow: 0 1px 0px rgba(0, 0, 0, 0.2);
}
#header .jqueryslidemenu > ul > li > a:hover {
  color: #ffffff;
}
#header .jqueryslidemenu > ul > li.current_page_item > a,
#header .jqueryslidemenu .current_page_parent > a {
  color: #ffffff;
  text-shadow: 0 1px 0px rgba(0, 0, 0, 0.2);
}
#header .jqueryslidemenu > ul > li.current_page_item > a:hover,
#header .jqueryslidemenu .current_page_parent > a:hover {
  color: #ffffff;
}
/* When the menu is open*/
.navbar .nav .open > .dropdown-toggle {
  background: transparent!important;
}
.in .jqueryslidemenu > ul li:hover > a {
  background: #f8f8f8;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-bottom: none!important;
}
/*1st sub level menu*/
#header .jqueryslidemenu ul li ul {
  background: #fff;
  padding: 0!important;
  left: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
/*Sub level menu list items (undo style from Top level List Items)*/
#header .jqueryslidemenu ul li ul li {
  border-bottom: 1px solid #f2f2f2;
}
.in .jqueryslidemenu ul li ul li {
  border-bottom: none;
}
/* Sub level menu links style */
/*Sub level menu list items (undo style from Top level List Items)*/
.jqueryslidemenu ul li ul.children,
.jqueryslidemenu ul li ul.sub-menu {
  display: none;
}
.jqueryslidemenu ul li.open > ul.children,
.jqueryslidemenu ul li.open ul.sub-menu {
  display: block;
}
#header .jqueryslidemenu ul li ul li a {
  height: 30px;
  line-height: 30px;
  padding: 0px 15px!important;
  font-size: 0.84615384615385em;
  font-weight: bold;
}
.jqueryslidemenu ul li ul li a:hover {
  /*sub menus hover style*/

  background: #000000 !important;
  text-shadow: 0 1px 0px rgba(0, 0, 0, 0.2);
}
/*For 3rd level in Bootstrap*/
.dropdown-menu .sub-menu,
.dropdown-menu .children {
  left: 100%;
  position: absolute;
  top: 0;
  visibility: hidden;
  margin-top: -1px;
  list-style: none;
}
.dropdown-menu li {
  position: relative;
}
.dropdown-menu li:hover .sub-menu,
.dropdown-menu li:hover .children {
  visibility: visible;
  display: block;
  left: 85%;
}
/* Select Navigation */
.tinynav {
  display: none;
  height: 2.2em;
  font-size: 1em;
  margin: 0 auto 1.2em auto;
}
/*
End Nav Menu
---------------------------------------*/
/*
Header Text
---------------------------------------*/
#header_bottom {
  position: absolute;
  bottom: 20px;
  width: 100%;
  left: 0;
  right: 0;
  padding: 0 20px;
  text-align: center;
}
#header_bottom p {
  font-size: 0.84615384615385em;
}
/*
==========================================
Container
========================================== 
*/
#container {
  position: relative;
}
/*
==========================================
Supersized
========================================== 
*/
.supersized_container {
  position: relative;
}
#supersized li {
  position: absolute;
}
#controls {
  position: absolute;
  right: 1.53846153846154em;
  bottom: -9.462em;
  text-align: center;
}
#controls ul {
  list-style: none;
  margin: 0;
  position: relative;
  bottom: 0;
}
#controls ul li {
  margin-bottom: 1.15384615384615em;
}
.ss_button {
  width: 40px;
  height: 40px;
  line-height: 36px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  display: block;
  vertical-align: middle;
  text-align: center;
  color: #ffffff;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.7);
  border: #fff 2px solid;
  border: rgba(255, 255, 255, 0.7) 2px solid;
  -webkit-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
  font-size: 1.07692307692308em;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
  outline: 0!important;
}
.ss_button:hover {
  background-color: #000000;
  border: #ffffff 2px solid;
  color: #ffffff;
  text-decoration: none;
}
.ss_button > i {
  display: none;
  margin: 0 auto;
  line-height: inherit;
}
.ss_button > i:first-child {
  display: block;
}
.ss_button.ql_toggle > i {
  display: block;
}
.ss_button.ql_toggle > i:first-child {
  display: none;
}
#slide-list {
  padding: 9px 0;
  float: right;
  position: absolute;
  right: 20px;
  bottom: 60px;
  margin-left: 0!important;
}
#slide-list ol {
  position: relative;
  bottom: 0;
}
#slide-list li {
  list-style: none;
  width: 12px;
  height: 12px;
  float: left;
  margin: 0 0 0 8px;
}
#slide-list li a {
  width: 40px;
  height: 40px;
  line-height: 36px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  display: block;
  vertical-align: middle;
  text-align: center;
  color: #ffffff;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.7);
  border: #fff 2px solid;
  border: rgba(255, 255, 255, 0.7) 2px solid;
  -webkit-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
  font-size: 1.07692307692308em;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
  outline: 0!important;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
  width: 8px!important;
  height: 8px!important;
  border-width: 1px;
  font-size: 0;
}
#slide-list li.current-slide a,
ul#slide-list li.current-slide a:hover {
  background-color: rgba(255, 255, 255, 0.5);
}
#slide-list li a:hover {
  cursor: pointer;
}
/* Thumbnail Tray
	----------------------------*/#ss_thumb_tray {
  position: fixed;
  z-index: 3;
  bottom: 0;
  left: 5%;
  background: rgba(0, 0, 0, 0.5);
  height: 120px;
  width: 90%;
  overflow: hidden;
  text-align: center;
  -moz-box-shadow: 0px 0px 4px #000000 inset, 0px 0px 1px rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: 0px 0px 4px #000000 inset, 0px 0px 1px rgba(255, 255, 255, 0.3);
  box-shadow: 0px 0px 4px #000000 inset, 0px 0px 1px rgba(255, 255, 255, 0.3);
  border: 1px solid #000;
  margin-bottom: -3px;
}
#thumb-back,
#thumb-forward {
  position: absolute;
  z-index: 5;
  bottom: 42px;
  height: 100%;
  width: 40px;
  text-align: center;
  background: rgba(0, 0, 0, 0.4);
  bottom: 0;
  top: 0;
}
#thumb-back i,
#thumb-forward i {
  top: 45%;
  position: relative;
}
#thumb-back {
  left: 0;
}
#thumb-forward {
  right: 0;
}
#thumb-back:hover,
#thumb-forward:hover {
  cursor: pointer;
  background-color: rgba(256, 256, 256, 0.1);
  color: #fff;
}
#thumb-back:hover {
  border-right: 1px solid rgba(256, 256, 256, 0.2);
}
#thumb-forward:hover {
  border-left: 1px solid rgba(256, 256, 256, 0.2);
}
ul#thumb-list {
  display: inline-block;
  list-style: none;
  position: relative;
  left: 0px;
  padding: 0 0px;
  margin-top: 10px;
  margin-left: 0;
}
ul#thumb-list li {
  background: #111;
  list-style: none;
  display: inline;
  width: 130px;
  height: 90px;
  overflow: hidden;
  float: left;
  margin: 0 5px;
  position: relative;
  border: 1px solid #000;
  -moz-box-shadow: 0px 1px 3px #000;
  -webkit-box-shadow: 0px 1px 3px #000;
  box-shadow: 0px 1px 3px #000;
}
ul#thumb-list li img {
  width: 150px;
  height: auto;
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
  filter: alpha(opacity=60);
}
ul#thumb-list li.current-thumb img,
ul#thumb-list li:hover img {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
}
ul#thumb-list li:hover {
  cursor: pointer;
}
#supersized-loader {
  display: none!important;
}
.slide_caption h2 {
  display: none;
}
.slide_caption {
  z-index: 1;
  position: absolute;
  bottom: 70px;
  right: 7.69230769230769em;
  padding: 20px;
  text-align: right;
  color: #ffffff;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
  background-color: rgba(0, 0, 0, 0.5);
}
.slide_caption h2 {
  color: #ffffff;
  font-size: 2.53846153846154em;
  font-weight: bold;
}
.slide_caption p {
  font-size: 1.15384615384615em;
  margin-bottom: 0;
}
/*
==========================================
Video Background
========================================== 
*/
#video_bck {
  height: 100%;
  left: 0;
  margin: 0;
  position: relative;
  top: 0;
  width: 100%;
  z-index: 0;
}
#video_wrapper {
  height: 100%;
  width: 100%!important;
  overflow: hidden;
}
/*
==========================================
jPlayer
========================================== 
*/
#jquery_jplayer_1 {
  width: 0;
  height: 0;
  display: none;
}
#jp_interface_1 a {
  display: none;
}
/*
==========================================
Flex Slider
========================================== 
*/
.home_page_slider {
  margin-bottom: 4.61538461538462em;
}
.home_page_slider .flex-direction-nav {
  bottom: 80px;
}
.flex-resize {
  display: none!important;
}
.format-gallery .flex-resize,
.format-gallery .flex-next,
.format-gallery .flex-prev {
  display: none;
}
.flex-control-nav {
  top: 20px;
  bottom: inherit;
  right: 20px;
  width: auto;
}
.flex-control-nav li {
  width: 14px;
  height: 14px;
  float: left;
  margin: 0 0 0 8px;
}
.flex-control-nav li a {
  width: 40px;
  height: 40px;
  line-height: 36px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  display: block;
  vertical-align: middle;
  text-align: center;
  color: #ffffff;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.7);
  border: #fff 2px solid;
  border: rgba(255, 255, 255, 0.7) 2px solid;
  -webkit-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
  font-size: 1.07692307692308em;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
  outline: 0!important;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
  width: 10px;
  height: 10px;
  border-width: 1px;
  left: 0;
  right: 0;
}
.flex-control-nav li a.flex-active,
.flex-control-nav li a:hover {
  background-color: rgba(255, 255, 255, 0.5);
}
.flex-direction-nav {
  position: absolute;
  right: 1.53846153846154em;
  bottom: 0;
}
.flex-direction-nav li {
  margin-bottom: 1.15384615384615em;
}
.flex-direction-nav li a {
  width: 40px;
  height: 40px;
  line-height: 36px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  display: block;
  vertical-align: middle;
  text-align: center;
  color: #ffffff;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.7);
  border: #fff 2px solid;
  border: rgba(255, 255, 255, 0.7) 2px solid;
  -webkit-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
  font-size: 1.07692307692308em;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
  outline: 0!important;
}
.flex-direction-nav li a:hover {
  background-color: #000000;
  border: #ffffff 2px solid;
  color: #ffffff;
}
.flex_carousel .slides li {
  cursor: pointer;
}
.flex-caption {
  position: absolute;
  bottom: 1.53846153846154em;
  left: 1.53846153846154em;
  padding: 1.53846153846154em;
  background-color: rgba(0, 0, 0, 0.6);
  font-size: 1.15384615384615em;
}
/*
==========================================
Content
========================================== 
*/
/*
Service Home
---------------------------------------*/
.service_wrap {
  margin-bottom: 4.61538461538462em;
}
.service_item {
  text-align: center;
}
.service_item .service_icon i {
  line-height: 1.9em;
  font-size: 2.69230769230769em;
  color: #ffffff;
  width: 70px;
  height: 70px;
  display: block;
  -webkit-transition: all 200ms linear;
  -moz-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  transition: all 200ms linear;
  background-color: #ffffff;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 0.5em;
  border-width: 3px;
  border-style: solid;
}
.service_item:hover .service_icon i {
  color: #ffffff;
  background-color: #ffffff;
  text-shadow: 0 1px 0px rgba(0, 0, 0, 0.2);
}
/*
Banner Call to Action
---------------------------------------*/
.banner_cta > div {
  background-color: #f7f6f6;
  padding: 2.5em 2em;
  position: relative;
}
.banner_cta > div .span2 {
  text-align: center;
}
.banner_cta > div a.btn {
  padding: 1em 1.8em;
  margin-top: 0.9em;
  text-align: center;
  font-size: 1.23076923076923em;
}
/*
Services Circles
---------------------------------------*/
.circle_service h3 {
  text-align: center;
  font-size: 1.375em;
  margin-bottom: 0.5em;
  -webkit-transition: all 300ms linear;
  -moz-transition: all 300ms linear;
  -o-transition: all 300ms linear;
  transition: all 300ms linear;
}
.circle_service .circle_icon {
  width: 12.5em;
  height: 12.5em;
  -webkit-border-radius: 7em;
  -moz-border-radius: 7em;
  border-radius: 7em;
  background-color: #e0dede;
  text-align: center;
  margin: 0 auto 0.625em auto;
  -webkit-transition: all 300ms linear;
  -moz-transition: all 300ms linear;
  -o-transition: all 300ms linear;
  transition: all 300ms linear;
}
.circle_service .circle_icon i {
  line-height: 1.8em;
  font-size: 7em;
  color: #fff;
  -webkit-transition: all 300ms linear;
  -moz-transition: all 300ms linear;
  -o-transition: all 300ms linear;
  transition: all 300ms linear;
}
.circle_service:hover h3 {
  color: #ffffff;
}
.circle_service:hover .circle_icon {
  background-color: #ffffff;
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}
.circle_service:hover .circle_icon i {
  font-size: 10em;
  line-height: 1.3em;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
}
/*
Read More Button
---------------------------------------*/
.read-more i {
  font-size: 0.84615384615385em;
  margin-left: 0.18181818181818em;
  text-decoration: none;
}
.read-more:hover i:before {
  text-decoration: none;
}
/*
Tagline
---------------------------------------*/
.ql_tagline {
  text-align: center;
  position: absolute;
  bottom: -130px;
  display: block;
  width: 100%;
  color: #ffffff;
  padding: 2.30769230769231em 0;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
}
.ql_tagline h2 {
  margin-bottom: 0.6em;
  color: #ffffff !important;
}
/*
Latest Blog
---------------------------------------*/
.ql_latest_blog .ql_lblog_item img {
  width: 100%;
}
.ql_latest_blog .ql_lblog_text {
  background-color: #f2f2f2;
  padding: 1.53846153846154em;
}
.ql_latest_blog .ql_lblog_text h4 a {
  color: inherit;
}
/*
Latest Work
---------------------------------------*/
.ql_latest_work .ql_lw_item img {
  width: 100%;
}
.ql_latest_work .ql_lw_item a.ql_info_footer {
  display: block;
  background-color: #f2f2f2;
  color: inherit;
  text-align: center;
  cursor: pointer;
  position: relative;
  text-shadow: none;
}
.ql_latest_work .ql_lw_item a.ql_info_footer:hover {
  background-color: #ffffff;
  color: #ffffff;
  text-shadow: 0 1px 0px rgba(0, 0, 0, 0.2);
}
/*
==========================================
Footer
========================================== 
*/
/*
Footer (with Widgets)
------------------------
*/
.footer_wrap {
  background-color: #3c3c3c;
  border-top: 1px solid #ffffff;
  margin-top: 4.61538461538462em;
}
#footer {
  margin-top: 1.53846153846154em;
}
#footer .widget {
  margin-top: 2em;
}
#footer h4 {
  color: #ffffff;
  position: relative;
  border-bottom: 1px solid #ffffff;
  padding-bottom: 0.35714285714286em;
  margin-bottom: 0.8em;
  font-size: 1.15384615384615em;
}
#footer p,
#footer ul,
#footer ol {
  font-size: 0.92307692307692em;
  color: #ffffff;
}
#footer a:hover {
  text-decoration: underline;
  color: #ffffff !important;
}
#footer ul,
footer ol {
  list-style: none;
  margin-left: 0;
}
#footer ul li,
footer ol li {
  border-bottom: #999999 1px dotted;
  padding: 0.45714285714286em 0;
}
#footer ul li > a,
footer ol li > a {
  display: block;
  padding: 2px 0;
  color: #ffffff;
  -webkit-transition: all 100ms linear;
  -moz-transition: all 100ms linear;
  -o-transition: all 100ms linear;
  transition: all 100ms linear;
}
#footer ul li > a:hover,
footer ol li > a:hover {
  display: block;
  padding: 2px 0;
  color: #ffffff;
  margin-left: 1em;
}
#footer .widget ul li:first-child {
  border-top: none;
}
#footer .widget ul li ul li:last-child {
  border: none;
}
#footer .widget ul li ul {
  margin-left: 30px;
  margin-bottom: 0;
  margin-top: 0!important;
}
#footer .widget ul li ul,
#sidebar .widget ul li ul li ul {
  display: none;
}
#footer .hasChildren span {
  float: right;
  background: url(images/sidebar_menu_arrow.png) no-repeat !important;
  width: 7px!important;
  height: 7px!important;
  margin-top: 5px;
}
/*-----------Recent & Popular Posts Widget-----------------*/
.widget_recent_posts ul li,
.widget_popular_posts ul li {
  margin-bottom: 0.6em;
  min-height: 55px;
}
.widget_recent_posts ul li .recent-post-img,
.widget_popular_posts ul li .recent-post-img {
  position: relative;
  float: left;
  margin-right: 10px;
}
.widget_recent_posts ul li .recent-post-img a,
.widget_popular_posts ul li .recent-post-img a {
  display: block;
}
.widget_recent_posts ul li .recent-post-img span,
.widget_popular_posts ul li .recent-post-img span {
  box-shadow: 0 0px 1px rgba(255, 255, 255, 0.7) inset;
  -moz-box-shadow: 0 0px 1px rgba(255, 255, 255, 0.7) inset;
  -webkit-box-shadow: 0 0px 1px rgba(255, 255, 255, 0.7) inset;
  position: absolute;
  width: 50px;
  height: 50px;
  display: block;
  top: 1px;
  left: 1px;
}
.widget_recent_posts ul li .recent-post-img img,
.widget_popular_posts ul li .recent-post-img img {
  border: #000 1px solid;
}
.widget_recent_posts ul li h6,
.widget_popular_posts ul li h6 {
  font-weight: bold;
  font-size: 0.91666666666667em;
  line-height: 1.2em;
}
.widget_recent_posts ul li h6 a,
.widget_popular_posts ul li h6 a {
  color: #ffffff;
}
.widget_recent_posts ul li h6 a:hover,
.widget_popular_posts ul li h6 a:hover {
  text-decoration: none;
  color: #d7d7d7;
}
.widget_recent_posts ul li time,
.widget_popular_posts ul li time {
  font-size: 0.95652173913043em;
  color: #999999;
}
/*-----------Testimonials Widget-----------------*/
footer .widget_testimonials ul li {
  display: block;
}
footer .widget_testimonials ul li cite {
  color: #919090;
  background: url(images/cite_testimonial.png) no-repeat;
  background-position: 0 1px;
  padding-left: 25px;
  margin-top: 0.6em;
  display: block;
}
footer .widget_testimonials ul li cite a {
  color: #919090;
}
footer .widget_testimonials .testimonials_nav {
  float: right;
  position: relative;
}
footer .widget_testimonials .testimonials_nav a {
  background: url(images/footer_icons.png) no-repeat;
  width: 21px;
  height: 21px;
  display: block;
  text-indent: -9999px;
  float: left;
  margin-left: 10px;
}
footer .widget_testimonials .testimonials_nav a.prev {
  background-position: 0 -33px;
}
footer .widget_testimonials .testimonials_nav a.next {
  background-position: 0 -64px;
}
/*-----------Twitter Widget-----------------*/
footer .twitter_widget ul li {
  background-position: 0 center;
  padding-left: 27px!important;
  padding-bottom: 5px;
  padding-top: 5px;
  position: relative;
}
footer .twitter_widget ul li i {
  position: absolute;
  color: #ffffff;
  left: 0;
  top: 20%;
  font-size: 1.45454545454545em;
}
footer .twitter_widget ul li a {
  display: inline!important;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}
footer .twitter_widget .twitter li a:hover {
  margin-left: 0!important;
}
/*-----------Contact Info Widget-----------------*/
.contact_info .contact_info li {
  padding-left: 27px!important;
  position: relative;
}
.contact_info .contact_info li i {
  position: absolute;
  color: #ffffff;
  left: 0;
  top: 25%;
  font-size: 1.16666666666667em;
}
/*-----------Social Widget-----------------*/
footer .social a {
  margin: 7px 7px 7px 0;
}
/*Quick Contact													*/
/*--------------------------------------------------------------*/
footer .quick_contact .form {
  position: relative;
}
footer .quick_contact .form input {
  width: 100%;
  height: 2.5em;
  border: none;
  outline: none;
  line-height: 2.5em;
  padding: 0 10px;
  color: #ffffff;
  margin: 5px 0;
  font-size: 0.92307692307692em;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: #2b2b2b;
  /* for non-css3 browsers */
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
}
footer .quick_contact .form input:focus {
  background: #000000;
}
footer .quick_contact .form input#quick_name {
  margin-top: 0;
}
footer .quick_contact .form .error {
  border-bottom: #F00 2px solid;
}
footer .quick_contact .form span {
  top: 12px;
  position: absolute;
  left: 15px;
  color: #898888;
  font-size: 0.84615384615385em;
  margin: 0;
}
footer .quick_contact .form span.email-span {
  top: 52px;
}
footer .quick_contact .form textarea {
  height: 9.16666666666667em;
  width: 100%;
  font-size: 0.92307692307692em;
  border: none;
  outline: none;
  padding: 10px;
  margin: 5px 0;
  color: #ffffff;
  overflow: auto;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: #2b2b2b;
  /* for non-css3 browsers */
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
}
footer .quick_contact .form textarea:focus {
  background: #000000;
}
footer .quick_contact .form .send {
  font-size: 0.84615384615385em;
  float: right;
  margin-top: 0.8em;
}
footer .name-error,
footer .email-error,
footer .comments-error {
  display: none;
  position: absolute;
  left: 175px;
}
footer .name-error {
  top: 13px;
}
footer .email-error {
  top: 47px;
}
footer .comments-error {
  top: 89px;
}
footer .mesage {
  color: #fff;
  text-shadow: 0 1px 0 #000000;
}
/*
==========================================
Sub Footer
========================================== 
*/
/*
Mini Footer
------------------------
*/
#b_footer {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 0 1.53846153846154em 0 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 100;
}
.b_footer_text {
  float: right;
  margin-bottom: 0;
  color: #888888;
}
.b_footer_text p {
  margin-bottom: 0;
  font-size: 0.92307692307692em;
  line-height: 30px;
}
/*
Social Nav
---------------------------------------*/
.nav_social {
  float: left;
  position: relative;
  margin-bottom: 0;
  margin-right: 1.92307692307692em;
}
.nav_social li {
  width: 35px;
  height: 30px;
  margin: 0;
  float: left;
  position: relative;
}
.nav_social li a {
  text-align: center;
  line-height: 30px;
  font-size: 14px;
  color: #999999;
  display: block;
  width: 35px;
  height: 30px;
  padding: 0!important;
  position: relative;
  z-index: 5;
  left: 1px;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}
.nav_social li a:hover {
  color: #ffffff;
}
.nav_social li.n_facebook a:hover {
  background-color: #3B5998;
}
.nav_social li.n_twitter a:hover {
  background-color: #33CCFF;
}
.nav_social li.n_dribbble a:hover {
  background-color: #C5376D;
}
.nav_social li.n_instagram a:hover {
  background-color: #427097;
}
.nav_social li.n_flickr a:hover {
  background-color: #FF0084;
}
.nav_social li.n_youtube a:hover {
  background-color: #C1302A;
}
.nav_social li.n_vimeo a:hover {
  background-color: #1AB7EA;
}
.nav_social li.n_foursquare a:hover {
  background-color: #5B9A68;
}
.nav_social li.n_skype a:hover {
  background-color: #00AFF0;
}
.nav_social li.n_google-plus a:hover {
  background-color: #DD4B39;
}
.nav_social li.n_tumblr a:hover {
  background-color: #343B4A;
}
.nav_social li.n_linkedin a:hover {
  background-color: #0073B2;
}
.nav_social li.n_pinterest a:hover {
  background-color: #CB2027;
}
.nav_social li.n_rss a:hover {
  background-color: #FF6600;
}
/*
==========================================
Blog & Pages
========================================== 
*/
.blog #content {
  margin-left: 100px;
  padding: 0 0 1.53846153846154em 0;
  background-color: transparent;
}
#content {
  padding: 1.53846153846154em;
  background: rgba(0, 0, 0, 0.7);
  margin-bottom: 1.53846153846154em;
}
.single #content {
  padding: 0;
}
.page-template-gallery-fullscreen-php #content {
  display: none;
}
/*Archive									*/
/*------------------------------------------*/
.archive .post_content {
  padding: 0;
}
.archive .post {
  margin-bottom: 4.61538461538462em;
}
.archive .img_post,
.archive .flex-container {
  margin-bottom: 1.53846153846154em;
}
.search-results article {
  margin-bottom: 5.38461538461538em;
}
/*Post										*/
/*------------------------------------------*/
.blog .post {
  position: relative;
  max-width: 34.61538461538462em;
  background-color: rgba(0, 0, 0, 0.6);
  display: inline-block;
  margin-right: 2.30769230769231em;
  vertical-align: top;
}
.single article {
  margin-bottom: 2.30769230769231em;
  padding-bottom: 0;
}
.post_content {
  padding: 1.53846153846154em;
}
.entry {
  position: relative;
}
/*Page Title 								*/
/*------------------------------------------*/
.page_title {
  text-align: left;
  color: #ffffff;
  padding: 1.53846153846154em;
  position: relative;
  -webkit-box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.2) inset;
  -moz-box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.2) inset;
  box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.2) inset;
  text-shadow: 0 1px 0px rgba(0, 0, 0, 0.2);
}
.page_title .container {
  position: relative;
}
.page_title h2 {
  margin-bottom: 0.17857142857143em;
  color: #ffffff;
  font-size: 2.46153846153846em;
  display: inline-block;
}
.page_title p {
  font-style: italic;
  color: #ffffff;
  font-family: Georgia, "Times New Roman", Times, serif;
  display: inline-block;
}
/*Breadcrumbs								*/
/*------------------------------------------*/
#breadcrumbs {
  position: absolute;
  right: 0;
  bottom: 0;
  text-align: left;
}
#breadcrumbs a {
  font-size: 0.76923076923077em;
  color: #ffffff;
}
#breadcrumbs a:hover {
  text-decoration: underline;
}
#breadcrumbs span {
  font-size: 0.76923076923077em;
}
/*Post Title 								*/
/*------------------------------------------*/
.post_title {
  position: relative;
}
.post_title h2 {
  font-size: 1.84615384615385em;
}
.post_title h2 a {
  color: inherit;
}
.post_title h2 a:hover {
  color: #ffffff;
}
/*Post Icon		 							*/
/*------------------------------------------*/
.post .title_icon {
  position: relative;
}
.post_icon {
  width: 2.5em;
  height: 2.5em;
  text-align: center;
  margin: 0;
  position: absolute;
  left: -4em;
}
.post_icon i {
  line-height: 1.4em;
  font-size: 2.07692307692308em;
  color: #ffffff;
}
/*Post Controls 							*/
/*------------------------------------------*/
/*
.controls {
	position: absolute;
	top: -10em;
	right: 0;
}

.controls ul li{
	margin-bottom: 0.6em;
}
*/
/*Image Post								*/
/*------------------------------------------*/
.img_post {
  margin-bottom: 0;
  overflow: hidden;
  position: relative;
}
.img_post a {
  display: block;
  text-align: center;
}
.img_post a img {
  width: 100%;
  vertical-align: bottom;
}
/*Metadata 									*/
/*------------------------------------------*/
.metadata {
  margin: 0.6em 0 ;
  overflow: hidden;
  text-shadow: 0 1px 0px rgba(0, 0, 0, 0.2);
  border-top-width: 1px;
  border-top-style: solid;
  padding-top: 0.38461538461538em;
}
.metadata ul {
  margin: 0;
}
.metadata ul li {
  list-style: none;
  /*padding-left:22px;*/

  font-size: 0.84615384615385em;
  margin: 0;
  margin-right: 15px;
  color: #ffffff;
  float: left;
  font-weight: bold;
  position: relative;
}
.metadata ul li strong {
  color: #ffffff;
  font-style: normal;
}
.metadata ul li i {
  margin-right: 0.35714285714286em;
  vertical-align: middle;
  padding: 7px 0px;
  font-size: 1.27272727272727em;
  width: 30px;
  text-align: center;
  color: #fff;
}
.metadata ul li a {
  color: #ffffff;
  text-decoration: none;
}
.metadata ul li a:hover {
  text-decoration: underline;
}
.metadata hr {
  margin: 0;
}
.meta_date {
  display: none;
}
/*Date 										*/
/*------------------------------------------*/
.date_wrap {
  width: 8%!important;
}
.date_t {
  position: absolute;
  top: 75%;
  right: 0;
  font-size: 17px;
  font-weight: bold;
  display: block;
  background-color: #ffffff;
  padding: 0.58823529411765em;
  color: #000000;
}
/*Fancy Tags for posts													*/
/*----------------------------------------------------------------------*/
ul.fancy_tags {
  margin-top: 15px;
  clear: both;
  margin-left: 0;
}
ul.fancy_tags li {
  display: inline-block;
  margin: 0 0.90909090909091em 0.90909090909091em 0;
  float: left;
  border: none;
}
ul.fancy_tags li a {
  background-color: #ffffff;
  display: inline-block;
  padding: 3px 6px;
  color: #000000;
  font-weight: bold;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  outline: none;
  text-decoration: none;
  font-size: 0.84615384615385em;
  line-height: 1.54545454545455em;
}
ul.fancy_tags li a:hover {
  color: #ffffff;
  text-decoration: none;
  background-color: #000000;
  text-indent: 0;
}
ul.fancy_tags li a:active {
  position: relative;
  top: 1px;
}
/*Pagination															*/
/*----------------------------------------------------------------------*/
.pagination_post {
  height: 600px;
  background: transparent!important;
  width: 450px;
}
.pagination {
  margin-top: 250px;
}
.pagination ul {
  display: block;
}
.pagination ul li a {
  background-color: transparent;
  color: #ffffff;
}
.pagination ul li.active a {
  color: #000000;
}
/*More Link 															*/
/*----------------------------------------------------------------------*/
.more-link {
  font-weight: bold;
  -webkit-transition: all 200ms linear;
  -moz-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  transition: all 200ms linear;
  text-decoration: none;
}
.more-link:hover {
  text-decoration: underline;
}
.more-link:active {
  position: relative;
  top: 1px;
}
.more-link i {
  margin-left: 0.45454545454545em;
  font-weight: normal;
  text-decoration: none;
}
/*Edit Button															*/
/*----------------------------------------------------------------------*/
a.post-edit-link {
  background: url(images/edit_entry_btn.png) no-repeat;
  height: 22px;
  width: 100px;
  display: block;
  text-indent: 28px;
  color: #8a8989;
  text-shadow: 0 1px 0 #fdfdfd;
  margin-top: 10px;
}
a.post-edit-link:hover {
  color: #656565;
  text-decoration: none;
}
/*
==========================================
Post Quote
========================================== 
*/
.post_icon i.quote-icon {
  line-height: 1.2em;
  font-size: 3.23076923076923em;
}
.post-quote .quote_content blockquote p {
  font-size: 1.61538em;
  line-height: 1.25em;
}
/*
==========================================
Post Image
========================================== 
*/
.post-image .flex-container {
  margin-bottom: 0;
}
/*
==========================================
Sidebar
========================================== 
*/
#sidebar {
  position: relative;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 1.53846153846154em;
}
.left #sidebar {
  float: left;
}
/*
Widgets
--------------------------------
*/
#sidebar .widget {
  margin-bottom: 3.125em;
  position: relative;
  margin-left: 0;
}
#sidebar #sidebar_mid div.bt {
  height: 1px;
}
#sidebar .widget h4 {
  position: relative;
  padding-bottom: 0.35714285714286em;
  margin-bottom: 0.8em;
}
#sidebar .widget ul,
#sidebar .widget ol {
  margin-left: 0px;
  margin-bottom: 0;
  font-size: 0.84615384615385em;
}
#sidebar .widget .pagenav,
#sidebar .widget .linkcat {
  list-style: none;
}
#sidebar .widget ul li {
  list-style: none;
  border-bottom: #999999 1px dotted;
}
#sidebar .widget ul li:first-child {
  border-top: none;
}
#sidebar .widget ul li > a {
  color: inherit;
  padding: 0.63636363636364em 0;
  display: block;
}
#sidebar .widget ul li > a:hover {
  color: #ffffff;
}
#sidebar .widget > ul li > a {
  color: inherit;
  padding: 0.63636363636364em 0;
  display: block;
  -webkit-transition: all 200ms linear;
  -moz-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  transition: all 200ms linear;
  font-weight: bold;
}
#sidebar .widget > ul li > a:hover {
  color: #000000;
  background-color: #ffffff;
  text-indent: 15px;
}
#sidebar .widget ul li ul {
  margin-left: 30px;
  margin-bottom: 0;
  margin-top: 0!important;
}
#sidebar .widget ul li ul {
  font-size: inherit;
}
#sidebar .widget ul li ul li:last-child {
  border-bottom: none;
}
#sidebar .widget ul li ul,
#sidebar .widget ul li ul li ul {
  display: none;
}
#sidebar .hasChildren {
  position: relative;
}
#sidebar .hasChildren i {
  position: absolute;
  right: 3px;
  top: 8px;
  color: #999999;
}
#sidebar .hasChildren:hover i {
  color: #ffffff;
}
/*
Twitter Widget
--------------------------------
*/
#sidebar .twitter_widget ul li {
  margin-bottom: 20px;
  min-height: 20px;
  padding: 5px 0px 5px  28px;
  border: none;
  position: relative;
}
#sidebar .twitter_widget ul li i {
  position: absolute;
  color: #ffffff;
  left: 0;
  top: 20%;
  font-size: 1.63636363636364em;
}
#sidebar .twitter_widget ul li:last-child {
  margin-bottom: 0px;
}
#sidebar .twitter_widget ul li a {
  display: inline;
  background: none!important;
  padding: 0!important;
}
#sidebar .twitter_widget ul li a:hover {
  color: inherit!important;
  text-decoration: underline;
}
/*
Ad Widget
--------------------------------
*/
#sidebar .ad_125 h4 {
  margin-bottom: 17px;
}
#sidebar .ad_125 a {
  margin: 4px;
  display: inline-block;
}
#sidebar .ad_125 a:hover img {
  opacity: 0.8;
}
/*
Recent Comments Widget
--------------------------------
*/
#sidebar .widget_recent_comments ul#recentcomments {
  margin-top: 17px;
}
#sidebar .widget_recent_comments ul li {
  padding-left: 28px;
  margin-bottom: 10px;
  border: none;
  color: #999999;
  position: relative;
}
#sidebar .widget_recent_comments ul li:before {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  content: "";
  position: absolute;
  left: 0;
  top: 20%;
  color: #ffffff;
  font-size: 1.45454545454545em;
}
#sidebar .widget_recent_comments ul li i {
  position: absolute;
  color: #ffffff;
  left: 0;
  top: 20%;
  font-size: 1.45454545454545em;
}
#sidebar .widget_recent_comments ul li a {
  display: inline;
  background: none;
  padding: 0;
}
#sidebar .widget_recent_comments ul li a:hover {
  color: #ffffff;
  background: none;
}
/*
Tag Widget
--------------------------------
*/
#sidebar .widget_tag ul.wp-tag-cloud {
  margin-top: 20px;
}
#sidebar .widget_tag ul li {
  display: inline-block;
  margin: 0 0.90909090909091em 0.90909090909091em 0;
  float: left;
  border: none;
}
#sidebar .widget_tag ul li a {
  background-color: #dcdcdc;
  display: inline-block;
  padding: 3px 6px;
  color: #7f7f7f;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
  font-weight: bold;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 0px rgba(0, 0, 0, 0.3);
  outline: none;
  font-size: inherit!important;
}
#sidebar .widget_tag ul li a:hover {
  color: #4a4a4a;
  text-decoration: none;
  background-color: #cfcfcf!important;
  -webkit-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2) inset;
  -moz-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2) inset;
  box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2) inset;
  text-indent: 0px;
}
#sidebar .widget_tag ul li a:active {
  color: #4a4a4a;
  text-decoration: none;
  background-color: #cfcfcf;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4) inset;
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4) inset;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4) inset;
}
/*
Subscribe & Twitter Buttons Widget
--------------------------------
*/
#sidebar .rss_tw_btn a.suscribe_btn {
  background: url(images/suscribe_btn.png) no-repeat;
  display: block;
  width: 122px;
  height: 32px;
  float: left;
  margin-right: 8px;
}
#sidebar .rss_tw_btn a.twitter_btn {
  background: url(images/twitter_btn.png) no-repeat;
  display: block;
  width: 122px;
  height: 32px;
  float: left;
  text-indent: -999em;
}
#sidebar .rss_tw_btn a:hover {
  opacity: 0.9;
}
.rss_tw_btn a.suscribe_btn {
  background: url(images/suscribe_btn.png) no-repeat;
  display: block;
  width: 122px;
  height: 32px;
  float: left;
  margin-right: 10%;
  text-indent: -999em;
}
.rss_tw_btn a.twitter_btn {
  background: url(images/twitter_btn.png) no-repeat;
  display: block;
  width: 122px;
  height: 32px;
  float: left;
}
.rss_tw_btn a:hover {
  opacity: 0.9;
}
/*
Search Widget
--------------------------------
*/
.widget_search {
  position: relative;
}
.widget_search #s {
  background-color: #f2f2f2;
  border: 1px solid #d1d1d1;
  width: 100%;
  height: 30px;
  display: block;
  padding: 0 40px 0 10px;
  line-height: 32px;
  font-size: 1em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.widget_search #s:focus {
  background: #000000;
  border: 1px solid #ffffff;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.widget_search #searchsubmit {
  background: none;
  border: none;
  width: 17px;
  height: 17px;
  display: block;
  text-indent: -9999px;
  position: absolute;
  right: 15px;
  top: 7px;
  cursor: pointer;
  line-height: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.widget_search i {
  width: 17px;
  height: 17px;
  display: block;
  position: absolute;
  right: 15px;
  top: 8px;
  cursor: pointer;
  font-size: 1.07692307692308em;
  color: #888888;
}
/*
Calendar Widget
--------------------------------
*/
/*http://johnsardine.com/download/dl-html-css/pretty-little-calendar-css3/*/
#wp-calendar {
  color: #666;
  font-size: 12px;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
}
#wp-calendar a {
  color: #467b89;
}
#wp-calendar caption {
  background: #383838;
  color: #e0e0e0;
  font-size: 14px;
  padding: 10px 0;
  text-align: center;
  text-shadow: 0 -1px 0 #000000;
  -webkit-box-shadow: inset 0 1px 0 #484848, 0 -1px 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 1px 0 #484848, 0 -1px 5px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 1px 0 #484848, 0 -1px 5px rgba(0, 0, 0, 0.3);
  border: 1px solid #373737;
  z-index: -99;
}
#wp-calendar thead th {
  font-size: 8px;
  padding: 5px 0;
  color: #666;
  text-transform: uppercase;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid #bbbbbb;
  background: #f7f7f7;
  background: -webkit-gradient(linear, left top, left bottom, from(#f7f7f7), to(#f1f1f1));
  background: -moz-linear-gradient(top, #f7f7f7, #f1f1f1);
}
#wp-calendar tbody td {
  color: #666;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  padding: 8px;
  text-align: center;
  font-weight: bold;
  border: 1px solid;
  border-color: #fff #bbbbbb #bbbbbb #fff;
  background: #ededed;
  background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#dedede));
  background: -moz-linear-gradient(top, #ededed, #dedede);
}
#wp-calendar tbody td.pad {
  background: #f5f5f5;
  background: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#ececec));
  background: -moz-linear-gradient(top, #f5f5f5, #ececec);
}
#wp-calendar tfoot {
  color: #e0e0e0;
  font-size: 12px;
  text-align: center;
}
#wp-calendar tfoot tr {
  background: #f5f5f5;
  background: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#ececec));
  background: -moz-linear-gradient(top, #f5f5f5, #ececec);
}
#wp-calendar tfoot td {
  padding: 10px 10px;
}
#wp-calendar tfoot a {
  color: #666;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
#wp-calendar tfoot td#prev {
  text-align: left;
}
#wp-calendar tfoot td#next {
  text-align: right;
}
#wp-calendar #today {
  color: #fff;
  border: 1px solid #467b89;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
  background: #6eafbf;
  background: -moz-radial-gradient(50% 50% 0deg, ellipse cover, #6eafbf, #569eb1);
  background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 20, from(#6eafbf), to(#569eb1));
}
/*
Post Tabs Widget
--------------------------------
*/
.widget_post_tabs ul li {
  border-bottom: none!important;
  outline: none;
}
.widget_post_tabs ul li > a {
  padding: 8px 12px!important;
  outline: none;
}
.widget_post_tabs .nav-tabs {
  border-bottom: none;
}
.widget_post_tabs .nav-tabs > li > a:hover {
  background: none;
  border: none;
  font-weight: bold;
}
.widget_post_tabs .nav-tabs > .active > a {
  font-weight: bold;
  background: none;
  border-color: #ffffff #ffffff transparent;
}
.widget_post_tabs .nav-tabs > .active > a:hover {
  font-weight: bold;
  background: none;
  border: 1px solid #ffffff;
}
.widget_post_tabs .tab-content {
  padding: 0.625em;
  border: 1px solid #ffffff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.widget_post_tabs .tab-content ul li,
.widget_popular_posts ul li {
  margin-bottom: 0.6em;
  min-height: 5.45454545454545em;
}
.widget_post_tabs .tab-content ul li .recent-post-img,
.widget_popular_posts ul li .recent-post-img {
  position: relative;
  float: left;
  margin-right: 10px;
}
.widget_post_tabs .tab-content ul li .recent-post-img a,
.widget_popular_posts ul li .recent-post-img a {
  display: block;
  padding: 0!important;
}
.widget_post_tabs .tab-content ul li h6,
.widget_popular_posts ul li h6 {
  font-weight: bold;
  font-size: 1em;
  line-height: 1.2em;
}
.widget_post_tabs .tab-content ul li h6 a,
.widget_popular_posts ul li h6 a {
  color: inherit;
  padding: 0;
}
.widget_post_tabs .tab-content ul li h6 a:hover,
.widget_popular_posts ul li h6 a:hover {
  text-decoration: none;
}
.widget_post_tabs .tab-content ul li time,
.widget_popular_posts ul li time {
  font-size: 0.95652173913043em;
  color: #909090;
}
/*
==========================================
Comments
========================================== 
*/
/*===========================================================================*/
/*Comments																	 */
/*===========================================================================*/
#comments {
  padding: 1.53846153846154em;
}
.commentlist {
  margin-left: 0;
  margin-top: 2.30769230769231em;
}
#comments ol.commentlist li {
  list-style: none;
  margin-bottom: 50px;
}
#comments .comment {
  margin-bottom: 40px;
}
#comments .comment-author {
  text-align: center;
}
#comments .comment-author div.inner-gravatar {
  border: #fff 1px solid;
  text-shadow: 0 1px 0 #fff;
  background: #e7e7e7;
  /* for non-css3 browsers */

  position: relative;
  width: 80px;
  height: 80px;
  margin: 0 auto;
  overflow: hidden;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
#comments .comment-author div.inner-gravatar div {
  width: 80px;
  height: 80px;
  z-index: 10;
  position: absolute;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
#comments .comment-author img {
  z-index: 5;
}
#comments .comment-author cite {
  font-weight: bold;
  margin-top: 4px;
  font-size: 0.92307692307692em;
  display: block;
}
#comments .comment-author cite,
#comments .comment-author cite a {
  color: #ffffff;
  font-weight: normal;
}
#comments .comment-author .comment-meta a {
  color: #aeaeae;
  font-size: 11px;
}
ol.commentlist li .comment-entry {
  margin: 0;
  border-width: 1px;
  border-style: solid;
  position: relative;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
ol.commentlist li .comment-entry div.inner-comment {
  padding: 30px;
}
.ie8 ol.commentlist li .comment-entry,
.ie7 ol.commentlist li .comment-entry {
  float: right;
  border: #cacaca 1px solid;
  margin: 0;
  background-color: #f3f3f3;
  /* for non-css3 browsers */

  position: relative;
}
ol.commentlist .comment-entry span.arrow_comment {
  /*background:url(images/comment_arrow.png) no-repeat;*/

  display: block;
  position: absolute;
  width: 31px;
  height: 28px;
  top: 17px;
  left: -22px;
}
.ie7 ol.commentlist .comment-entry span.arrow_comment,
.ie8 ol.commentlist .comment-entry span.arrow_comment {
  background: none;
}
.comment-meta {
  float: left;
  margin-left: 10px;
  margin-top: 5px;
  font-size: 11px;
  color: #c3c3c3;
}
.comment-meta a {
  font-size: 11px;
  color: #c3c3c3;
}
.comment-meta a:hover {
  text-decoration: underline;
}
.reply {
  float: right;
  clear: right;
}
.comment-reply-link {
  width: 54px;
  height: 23px;
  display: block;
  color: #999999;
  font-size: 11px;
  text-align: center;
  margin: 10px 0;
  line-height: 20px;
}
.comment-reply-link:hover {
  text-decoration: underline;
}
#comments ul.children {
  margin-left: 30px;
  margin-top: 20px;
  margin-bottom: 10px;
}
/*===========================================================================*/
/*Comments	Form															 */
/*===========================================================================*/
#respond {
  padding: 1.53846153846154em;
}
#respond h4 {
  margin-bottom: 1em;
}
#respond .input-wrap {
  margin: 0px 15px 10px 0;
  float: left;
  width: 31%;
}
#respond .input-wrap.textarea {
  float: none;
  width: 97%;
}
#respond .controls-wrap {
  position: relative;
}
#respond input {
  padding-left: 2.30769230769231em;
  width: 100%;
}
#respond input:focus {
  outline: none;
  -webkit-box-shadow: 0 0px 2px rgba(0, 0, 0, 0.3) inset;
  -moz-box-shadow: 0 0px 2px rgba(0, 0, 0, 0.3) inset;
  box-shadow: 0 0px 2px rgba(0, 0, 0, 0.3) inset;
}
#respond .input label {
  margin-bottom: 5px;
  display: block;
}
#respond textarea {
  width: 100%;
  height: 150px;
}
#respond textarea:focus {
  outline: none;
  -webkit-box-shadow: 0 0px 2px rgba(0, 0, 0, 0.3) inset;
  -moz-box-shadow: 0 0px 2px rgba(0, 0, 0, 0.3) inset;
  box-shadow: 0 0px 2px rgba(0, 0, 0, 0.3) inset;
}
#respond .controls-wrap i {
  position: absolute;
  left: 0.71428571428571em;
  top: 0.57142857142857em;
  font-size: 1.07692307692308em;
  color: #c4c4c4;
}
#respond .form-actions {
  background-color: transparent;
  border: none;
  padding: 0;
}
/*
#respond #submit-respond{
	width:130px;
	height:32px;
	color:#7e7e7e;
	cursor:pointer;
	display:block;
	line-height:30px;
	font-size:12px;
	text-align:center;
	box-shadow:none;
	background: #ebeaea; 
	background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#E0E0E0)); 
	background: -moz-linear-gradient(top,  #FFFFFF,  #E0E0E0); 
	background: -o-linear-gradient(top, #FFFFFF, #E0E0E0);
    border-color: #CCCCCC #CCCCCC #AAAAAA;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 0 1px #FFFFFF inset,  0 1px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow:  0 0 1px #FFFFFF inset,  0 1px 0 rgba(0, 0, 0, 0.1);
    -webkit-box-shadow:  0 0 1px #FFFFFF inset,  0 1px 0 rgba(0, 0, 0, 0.1) ;
    font-weight: bold;
    text-shadow: 0 0 0 transparent, 0 1px 0 #FFFFFF;
}
*/
#respond #submit-respond {
  font-size: 0.84615384615385em;
  color: #000000;
  background-color: #ffffff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-weight: bold;
  outline: none;
  border: none;
  width: auto;
}
#respond #submit-respond:hover {
  color: #ffffff;
  background-color: #000000;
  box-shadow: none;
}
/*
==========================================
Portfolio
========================================== 
*/
#portfolio_viewport {
  max-width: 100%;
  padding-left: 7.69230769230769em;
  outline: none;
}
#portfolio_container {
  height: 700px;
  padding: 1.53846153846154em 0;
  overflow: visible!important;
}
.notloadyet {
  height: 700px!important;
  overflow: hidden;
}
.portfolio_item {
  width: 450px;
  float: left;
  height: auto;
  height: 220px;
  margin: 5px;
}
.layout_square {
  width: 220px;
  height: 220px;
}
.layout_portrait1 {
  width: 220px;
  height: 450px;
}
.portfolio_item a {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-animation-duration: 0.6s;
  -moz-animation-duration: 0.6s;
  -o-animation-duration: 0.6s;
  animation-duration: 0.6s;
}
.portfolio_item img {
  width: 100%;
  margin: 0;
  height: auto;
  vertical-align: bottom;
}
.portfolio_item .baw_image {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transition: all 300ms linear;
  -moz-transition: all 300ms linear;
  -o-transition: all 300ms linear;
  transition: all 300ms linear;
}
#wrap:hover .portfolio_item .baw_image {
  opacity: 0;
  filter: alpha(opacity=0);
}
.portfolio_item .ql_hover {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #000000;
  color: #ffffff;
  text-align: left;
  -webkit-transition: all 200ms linear;
  -moz-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  transition: all 200ms linear;
  opacity: 0;
  filter: alpha(opacity=0);
  border-width: 1px;
  border-style: solid;
}
.portfolio_item:hover .ql_hover {
  opacity: 1;
  filter: alpha(opacity=100);
}
.portfolio_item a .ql_hover .p_icon {
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: #ffffff;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  color: #000000;
  font-weight: bold;
  font-size: 1.07692307692308em;
}
.portfolio_item .ql_hover > .ql_hover_content {
  height: 100%;
  position: absolute;
  width: 100%;
  overflow: hidden;
}
.portfolio_item .ql_hover > .ql_hover_content > div {
  padding: 1.15384615384615em;
}
.portfolio_item .ql_hover h2 {
  color: #ffffff;
  margin-bottom: 5px;
  font-size: 1.53846153846154em;
  text-transform: uppercase;
  line-height: 1.2em;
}
.portfolio_item .ql_hover p {
  color: #999999;
}
.portfolio_item .ql_hover .short_line {
  display: block;
  height: 1px;
  width: 20%;
  border-top: 1px solid #ffffff;
}
.portfolio_item .ql_hover .portfolio_cats {
  position: absolute;
  bottom: 10px;
  font-size: 0.84615384615385em;
  width: 100%;
  color: #999999;
}
.portfolio_item .ql_hover .ql_info_footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  color: #000000;
  text-shadow: none;
}
.ql_info_footer2 {
  font-size: 0.84615384615385em;
  font-weight: normal;
  padding: 5px 0 6px 0;
  border: none!important;
  line-height: 19px;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  padding-left: 40px;
  margin-bottom: 0;
  height: 30px;
  overflow: hidden;
}
.ql_info_footer2 i {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  vertical-align: middle;
  font-size: 1.27272727272727em;
  height: 30px;
  width: 30px;
  line-height: 30px;
  text-align: center;
  background-color: #ffffff;
  color: #000000;
}
.portfolio_item .portfolio_icon {
  background-color: transparent;
  position: absolute;
  top: 50%;
  text-align: center;
  font-size: 42px;
}
/*
Scrollbar
------------------------
*/
.scrollbar {
  background: none repeat scroll 0 0 #CCCCCC;
  height: 2px;
  line-height: 0;
  margin: 0 0 1em;
}
.scrollbar .handle {
  background: none repeat scroll 0 0 #292A33;
  cursor: pointer;
  height: 100%;
  width: 100px;
}
.scrollbar .handle .mousearea {
  height: 20px;
  left: 0;
  position: absolute;
  top: -9px;
  width: 100%;
}
/*
Portfolio Single
------------------------
*/
.portfolioItem_sidebar {
  margin-top: 1.53846153846154em;
}
.portfolioItem_sidebar ul {
  margin: 0;
}
.portfolioItem_sidebar ul li {
  margin-bottom: 0.76923076923077em;
}
.page-template-portfolio-3columns-php header,
.page-template-portfolio-2columns-php header,
.page-template-portfolio-4columns-php header,
.page-template-portfolio-1column-php header {
  margin-bottom: 0;
}
.portfolio_page h2 {
  margin-bottom: 25px;
}
/*
Filter
---------------------------------------*/
.filter_list {
  margin-right: 3.84615384615385em;
  float: left;
  margin-bottom: 0.38461538461538em;
  margin-top: 0.38461538461538em;
}
.filter_list h4 {
  color: #ffffff;
  border-bottom-width: 1px;
  border-bottom-style: dotted;
  font-size: 1em;
  margin-bottom: 0;
  display: inline-block;
  float: left;
  margin-right: 1.53846153846154em;
  font-size: 0.92307692307692em;
}
.filter_list ul {
  list-style: none;
  color: #ffffff;
  margin-left: 0;
  margin-bottom: 0;
  float: left;
}
.filter_list ul li {
  margin-bottom: 0;
  float: left;
  margin-right: 1.15384615384615em;
}
.filter_list ul li a {
  color: #a7a7a7;
  font-size: 0.84615384615385em;
  font-weight: bold;
  outline: 0;
  padding: 0;
  display: block;
  text-transform: uppercase;
}
.filter_list ul li a:hover {
  color: #ffffff;
}
.filter_list ul li.active a {
  color: #ffffff;
}
.filter_list ul li i {
  font-size: 1.15384615384615em;
  margin-right: 0.38461538461538em;
  opacity: 0.5;
  filter: alpha(opacity=50);
  display: none;
}
.filter_list ul li.active i,
.filter_list ul li:hover i {
  opacity: 1;
  filter: alpha(opacity=100);
}
/*
Sort Buttons
--------------------------------
*/
ul.source {
  margin-bottom: 1.25em;
  margin-left: 0;
  overflow: hidden;
}
ul.source li {
  display: inline;
  margin-right: 15px;
  position: relative;
  float: left;
}
ul.source li a {
  display: block;
  color: #929292;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-size: 0.6875em;
  font-weight: bold;
  padding: 0.27272727272727em 0.54545454545455em;
  outline: none;
}
ul.source li a:hover {
  color: #ffffff;
}
ul.source li.active a {
  background-color: #ffffff;
  color: #fff;
}
ul.source li.active a:hover {
  color: #ffffff;
  background-color: #ffffff;
  text-decoration: none;
}
/*-----------------------------*/
ul.portfolio_items {
  display: block;
  letter-spacing: -4px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  word-spacing: -4px;
}
ul.portfolio_items li {
  list-style: none;
  display: inline-block;
  letter-spacing: normal;
  padding: 0;
  position: relative;
  vertical-align: top;
  word-spacing: normal;
}
ul.portfolio_items li .portfolio_img_wrap {
  position: relative;
}
ul.portfolio_items li a.portfolio_img {
  position: relative;
  clear: both;
  z-index: 1;
}
.shadow_portfolio {
  float: left;
  z-index: 0;
  position: absolute;
  bottom: 0;
  left: 0;
}
/*
#content .portfolio_items a.more-link:hover{
	color:#656565;
	text-decoration:none;
}
*/
#content .portfolio_items .portfolio_info p {
  color: #AAAAAA;
}
/*1 Column-------------------------------------------------------*/
ul.portfolio1 li {
  margin-bottom: 30px;
}
ul.portfolio1 li .portfolio_img span {
  position: absolute;
  width: 700px;
  height: 490px;
  display: none;
  z-index: 10;
  top: 0px;
  left: 0px;
}
ul.portfolio1 li a.portfolio_img img {
  position: relative;
}
ul.portfolio1 li a.portfolio_img {
  width: 700px;
  height: 490px;
  display: block;
}
ul.portfolio1 li .portfolio_img_wrap {
  width: 700px;
  height: 490px;
}
ul.portfolio1 .portfolio_info a.more-link {
  margin-top: 0!important;
  left: 0px!important;
}
/*2 Columns-------------------------------------------------------*/
ul.portfolio2 li {
  margin-bottom: 30px;
  /*float:left;	*/

  width: 320px;
  margin-right: 30px;
}
ul.portfolio2 li .portfolio_img span {
  position: absolute;
  width: 320px;
  height: 225px;
  display: none;
  z-index: 10;
  top: 0px;
  left: 0px;
}
ul.portfolio2 li a.portfolio_img img {
  position: relative;
}
ul.portfolio2 li a.portfolio_img {
  width: 320px;
  height: 225px;
  display: block;
}
ul.portfolio2 li .portfolio_img_wrap {
  width: 320px;
  height: 225px;
}
ul.portfolio2 .portfolio_info a.more-link {
  margin-top: 0!important;
  left: 0px!important;
}
/*3 Columns-------------------------------------------------------*/
ul.portfolio3 li {
  margin-bottom: 30px;
  /*float:left;	*/

  width: 205px;
  margin-right: 25px;
}
ul.portfolio3 li .portfolio_img span {
  position: absolute;
  width: 205px;
  height: 150px;
  display: none;
  z-index: 10;
  top: 0px;
  left: 0px;
}
ul.portfolio3 li a.portfolio_img img {
  position: relative;
}
ul.portfolio3 li a.portfolio_img {
  width: 205px;
  height: 150px;
  display: block;
}
ul.portfolio3 li .portfolio_img_wrap {
  width: 205px;
  height: 150px;
}
ul.portfolio3 .portfolio_info h3 {
  font-size: 15px;
}
ul.portfolio3 .portfolio_info a.more-link {
  margin-top: 0!important;
  left: 0px!important;
}
ul.portfolio3 .portfolio_img span.zoom {
  bottom: -2px;
}
/*4 Columns-------------------------------------------------------*/
ul.portfolio4 li {
  margin-bottom: 20px;
  /*float:left;	*/

  width: 195px;
  margin-right: 30px;
}
ul.portfolio4 li .portfolio_img span {
  position: absolute;
  width: 195px;
  height: 130px;
  display: none;
  z-index: 10;
  top: 0px;
  left: 0px;
}
ul.portfolio4 li a.portfolio_img img {
  position: relative;
}
ul.portfolio4 li a.portfolio_img {
  float: left;
  width: 195px;
  height: 130px;
}
ul.portfolio4 li .portfolio_img_wrap {
  float: left;
  width: 195px;
  height: 145px;
}
ul.portfolio4 .portfolio_info {
  float: left;
  width: 195px;
}
ul.portfolio4 .portfolio_info h3 {
  font-size: 13px;
}
ul.portfolio4 .portfolio_info a.more-link {
  margin-top: 0!important;
  left: 0px!important;
}
ul.portfolio4 .portfolio_img span.zoom {
  bottom: -2px;
}
/*
==========================================
Single Portfolio
========================================== 
*/
.portfolio-post #portfolio_viewport {
  padding-left: 1.53846153846154em;
}
.portfolio-post .img_post a {
  display: block;
  margin-bottom: -2px;
}
.single-portfolio article {
  margin-bottom: 0;
}
.portfolio-post .post_content {
  float: left;
  max-width: 300px;
  margin-right: 30px;
  position: relative;
  z-index: 1;
  padding: 0;
}
.portfolio-post .entry_wrap {
  height: 100%;
  max-width: 300px;
  padding-right: 0.76923076923077em;
}
.portfolio-post .entry {
  height: 100%;
  max-width: 100%;
}
.portfolio-post .entry h1 {
  margin-bottom: 0.26315789473684em;
}
.portfolio_list_img {
  height: 100%;
  white-space: nowrap;
  width: 100%;
  outline: none;
  display: inline;
}
.portfolio_list_img ul {
  height: 100%;
  white-space: nowrap;
  width: 100%;
  margin: 0;
}
.portfolio_list_img ul li {
  list-style: none;
  height: 100%;
  display: inline-block;
  margin: 0 2.30769230769231em 0 0;
  position: relative;
  vertical-align: top !important;
  white-space: normal;
  width: auto;
}
.portfolio_list_img ul li img {
  height: 100%;
  vertical-align: middle;
}
.portfolio_video {
  max-width: 100%;
}
/*
==========================================
Shortcodes
========================================== 
*/
/*
==========================================
Latest from Blog
========================================== 
*/
.ql_latest_blog {
  margin-bottom: 6.15384615384615em;
}
/* Post format Gallery
-------------------------*/
.ql_latest_blog .flex-control-nav {
  display: none;
}
.ql_latest_blog .flex-direction-nav .flex-resize {
  display: none;
}
.ql_latest_blog .flexslider {
  overflow: hidden;
}
.ql_latest_blog .flexslider .flex-direction-nav {
  right: -40px;
  -webkit-transition: all 200ms linear;
  -moz-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  transition: all 200ms linear;
}
.ql_latest_blog .flexslider:hover .flex-direction-nav {
  right: 10px;
}
.ql_latest_blog .flex-direction-nav li a {
  width: 25px;
  height: 25px;
  line-height: 22px;
  font-size: 10px;
  opacity: 0.5;
  filter: alpha(opacity=50);
  -webkit-transition: all 200ms linear;
  -moz-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  transition: all 200ms linear;
}
.ql_latest_blog .flex-direction-nav li a:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}
/* Post format Standard
-------------------------*/
.ql_latest_blog .img_post {
  margin-bottom: 0;
}
.ql_latest_blog .post_video {
  height: 151px;
}
.ql_latest_blog .AudioPlayerV1 {
  width: 100%!important;
}
.ql_latest_blog .videoWrapper {
  padding-top: 0;
}
/*
==========================================
Latest from Portfolio
========================================== 
*/
.ql_latest_work {
  margin-bottom: 6.15384615384615em;
}
/*
==========================================
Contact Form Shortcode
========================================== 
*/
/* ------- Contact Form ------- */
#contact-form .input-wrap {
  margin: 0px 15px 10px 0;
  float: left;
  width: 47%;
}
#contact-form .input-wrap.i_comment {
  width: 97%;
}
.controls-wrap {
  position: relative;
}
#contact-form input {
  padding-left: 2.30769230769231em;
  width: 100%;
}
#contact-form input:focus {
  outline: none;
  -webkit-box-shadow: 0 0px 2px rgba(0, 0, 0, 0.3) inset;
  -moz-box-shadow: 0 0px 2px rgba(0, 0, 0, 0.3) inset;
  box-shadow: 0 0px 2px rgba(0, 0, 0, 0.3) inset;
}
#contact-form input.error {
  border-color: red;
}
.input-wrap label {
  margin-bottom: 5px;
  display: block;
  float: none;
  text-align: left;
}
#contact-form textarea {
  width: 100%;
  height: 150px;
}
#contact-form textarea:focus {
  outline: none;
  -webkit-box-shadow: 0 0px 2px rgba(0, 0, 0, 0.3) inset;
  -moz-box-shadow: 0 0px 2px rgba(0, 0, 0, 0.3) inset;
  box-shadow: 0 0px 2px rgba(0, 0, 0, 0.3) inset;
}
#contact-form textarea.error {
  border-color: red;
}
.controls-wrap i {
  position: absolute;
  left: 0.71428571428571em;
  top: 0.57142857142857em;
  font-size: 1.07692307692308em;
  color: #c4c4c4;
}
.form-actions {
  background-color: transparent;
  border: none;
  padding: 0;
}
#submit-form {
  font-size: 0.84615384615385em;
  color: #000000;
  background-color: #ffffff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-weight: bold;
  outline: none;
  border: none;
  width: auto!important;
  padding: 0 2.30769em;
}
#submit-form:hover {
  color: #ffffff;
  background-color: #000000;
  box-shadow: none;
}
/*
==========================================
Global Styles
========================================== 
*/
.box_b {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.35);
  padding: 2px;
  margin-bottom: 0.6em;
  border: 3px solid #fff;
}
.cool_divider {
  background: url(images/line_divider.png) bottom repeat-x;
  padding-bottom: 3px;
  border: none;
  margin: 2em 0;
}
.in_shadow {
  -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3) inset;
  -moz-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3) inset;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3) inset;
}
.preloader {
  background: url(images/preloader.gif) center center no-repeat #000000;
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 30;
}
/*Call To Action Button													*/
/*----------------------------------------------------------------------*/
.btn-cta {
  background-color: #ffffff !important;
  background-image: none;
  color: #ffffff;
  -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3) inset;
  -moz-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3) inset;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3) inset;
  border: none;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
  font-weight: bold;
}
.btn-cta:hover {
  color: #ffffff;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
  opacity: 0.9;
  filter: alpha(opacity=90);
}
/*More Link 															*/
/*----------------------------------------------------------------------*/
.simple_btn {
  background-color: #ffffff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #fff;
  font-size: 0.6875em;
  font-weight: bold;
  padding: 0.27272727272727em 0.54545454545455em;
}
.simple_btn:hover {
  color: #ffffff;
  background-color: #ffffff;
  text-decoration: none;
}
.simple_btn i {
  margin-left: 0.45454545454545em;
  font-weight: normal;
}
.triangle-up {
  width: 0;
  height: 0;
  border-left: 1.15384615384615em solid transparent;
  border-right: 1.15384615384615em solid transparent;
  border-bottom: 1.15384615384615em solid #ffffff;
}
/*Before & After														*/
/*----------------------------------------------------------------------*/
.ql_beforeafter img {
  max-width: none!important;
}
/* Section Title														*/
/*----------------------------------------------------------------------*/
.ql_title {
  border-bottom: 1px solid #eeeeee;
  position: relative;
  padding-bottom: 5px;
}
.ql_title:before {
  content: " ";
  position: absolute;
  bottom: -2px;
  background-color: #ffffff;
  height: 3px;
  width: 50px;
  display: block;
  left: 0;
}
/* Section Title														*/
/*----------------------------------------------------------------------*/
.ql_line {
  border-bottom: 1px solid #ffffff;
  position: relative;
  margin: 1.53846153846154em 0;
  width: 6.15384615384615em;
  height: 1px;
  display: block;
}
/* QL Navigation Tabs													*/
/*----------------------------------------------------------------------*/
.ql_nav_tabs {
  border: none!important;
}
.ql_nav_tabs li {
  margin-bottom: 0;
}
.ql_nav_tabs li.active a {
  background-color: #ffffff;
  color: #ffffff;
  text-shadow: 0 1px 0px rgba(0, 0, 0, 0.2);
}
.ql_nav_tabs li.active a:hover {
  background-color: #ffffff;
  color: #ffffff;
}
.ql_nav_tabs li a {
  font-size: 0.84615384615385em;
  font-weight: bold;
  padding: 7px;
  border: none!important;
  background-color: #f2f2f2;
  border-radius: 0!important;
  position: relative;
  padding-left: 35px;
  padding-right: 5.45454545454545em;
  outline: 0;
  margin-bottom: 0!important;
  color: #999999;
}
.ql_nav_tabs li a i {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  vertical-align: middle;
  padding-top: 10px;
  font-size: 1.27272727272727em;
  width: 30px;
  text-align: center;
}
.ql_nav_tabs li.active a i {
  background-color: rgba(0, 0, 0, 0.1);
}
.tab-content h1,
.tab-content h2,
.tab-content h3,
.tab-content h4,
.tab-content h5 {
  margin-top: 0;
}
/* Testimonials															*/
/*----------------------------------------------------------------------*/
.ql_testimonial_text {
  background-color: #f2f2f2;
  padding: 1.53846153846154em;
  margin-bottom: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: italic;
}
.ql_testimonial {
  position: relative;
}
.ql_testimonial .flex-direction-nav {
  -webkit-transition: all 200ms linear;
  -moz-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  transition: all 200ms linear;
  position: absolute;
  top: 5px;
  right: -25px;
  opacity: 0;
  filter: alpha(opacity=0);
}
.ql_testimonial:hover .flex-direction-nav {
  -webkit-transform: translate(0, -5px);
  -moz-transform: translate(0, -5px);
  -ms-transform: translate(0, -5px);
  -o-transform: translate(0, -5px);
  transform: translate(0, -5px);
  opacity: 1;
  filter: alpha(opacity=100);
}
.ql_testimonial .flex-direction-nav li {
  margin-bottom: 0;
}
.ql_testimonial .flex-direction-nav li a {
  background: #f2f2f2;
  border: none;
  color: #999999;
  text-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  display: inline-block;
  outline: 0;
  float: none;
  top: 0;
  width: 25px;
  height: 25px;
  line-height: 25px;
  border-radius: 0!important;
  font-size: 1.07692307692308em;
}
.ql_testimonial .flex-direction-nav li a:hover {
  color: #333333;
  background: #e5e5e5;
}
.ql_testimonial .flex-control-nav {
  display: none;
}
/* Info Footer															*/
/*----------------------------------------------------------------------*/
.ql_info_footer {
  font-size: 0.84615384615385em;
  font-weight: bold;
  padding: 6px;
  border: none!important;
  background-color: #f2f2f2;
  border-radius: 0!important;
  position: relative;
  padding-left: 40px;
  padding-right: 0.90909090909091em;
  outline: 0;
  margin-bottom: 0!important;
  color: #ffffff;
  line-height: 1.53846em;
  text-shadow: 0 1px 0px rgba(0, 0, 0, 0.2);
}
.ql_info_footer.no-icon {
  padding-left: 0.90909090909091em;
  padding-right: 0.90909090909091em;
}
.ql_info_footer p {
  margin-bottom: 0!important;
}
.ql_info_footer i {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  vertical-align: middle;
  padding-top: 7px;
  font-size: 1.27272727272727em;
  width: 30px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.1);
}
/*Hero Colors Classes													*/
/*----------------------------------------------------------------------*/
.hero_bck {
  background-color: #ffffff;
}
.hero_border {
  border-color: #ffffff;
}
/* Make Space between sections											*/
/*----------------------------------------------------------------------*/
.clear_space {
  margin: 2.30769230769231em 0;
}
/* Hover effect for thumbnails											*/
/*----------------------------------------------------------------------*/
.ql_thumbnail_hover {
  position: relative;
  display: block;
  text-align: center;
}
.ql_thumbnail_hover > span {
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: all 200ms linear;
  -moz-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  transition: all 200ms linear;
  opacity: 0;
  filter: alpha(opacity=0);
}
.ql_thumbnail_hover:hover > span {
  opacity: 1;
  filter: alpha(opacity=100);
}
.ql_thumbnail_hover > span > i {
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  color: #ffffff;
  font-size: 1.23076923076923em;
  top: -37%;
  position: relative;
  border: 2px solid #ffffff;
  border-radius: 25px;
  padding: 8px;
}
.ql_thumbnail_hover:hover > span > i {
  top: 45%;
}
/* Inputs																*/
/*----------------------------------------------------------------------*/
input {
  background-color: #f2f2f2;
  border: 1px solid #d1d1d1;
  width: 100%;
  height: 30px;
  display: block;
  padding: 0 40px 0 10px;
  line-height: 32px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}
.widget_search #s:focus {
  background: #000000;
  border: 1px solid #ffffff;
}
/*
// LARGE DESKTOP & UP
// ------------------
*/
@media (min-width: 1200px) {
  .jqueryslidemenu ul li ul.children {
    display: none;
  }
  .flexslider .slides li img {
    width: 100%;
  }
  /*
  	Audio Player
  	========================================== 
  	*/
  .AudioPlayerV1 {
    width: 670px!important;
  }
  .APV1_container {
    width: 473px!important;
  }
  /*
  	Video Player
  	========================================== 
  	*/
  .format-video #post_video {
    height: 376px;
  }
  .service_desc .offset1 {
    margin-left: 15.3%;
  }
}
/*
// LPortrait tablet to landscape and desktop
// ------------------
*/
@media (min-width: 979px) and (max-width: 1199px) {
  /*
  	Audio Player
  	========================================== 
  	*/
  .AudioPlayerV1 {
    width: 540px!important;
  }
  .APV1_container {
    width: 343px!important;
  }
  /*
  	Video Player
  	========================================== 
  	*/
  .format-video #post_video {
    height: 303px;
  }
  /*Comments Form---------------------------------------------------*/
  #respond .input-wrap {
    width: 47%;
  }
  /*2 Columns-------------------------------------------------------*/
  ul.portfolio2 li {
    width: 434px;
    margin-right: 3%;
  }
  /*3 Columns-------------------------------------------------------*/
  ul.portfolio3 li {
    width: 283px;
  }
  /*4 Columns-------------------------------------------------------*/
  ul.portfolio4 li {
    width: 206px;
  }
  /*Date size and post content ---------------------*/
  .date_wrap {
    width: 10%!important;
  }
  .service_desc .offset1 {
    margin-left: 14.8%;
  }
}
@media (min-width: 768px) and (max-width: 978px) {
  #header {
    position: relative;
    right: 0;
    width: 100%;
    /*margin-bottom: 1.53846153846154em;*/
  
  }
  #header .navbar {
    display: none;
  }
  .tinynav {
    display: block;
    margin: 2.30769em 0;
    float: right;
  }
  #nav {
    display: none;
  }
  .filter_list > ul > li {
    float: left;
    margin-right: 1.53846153846154em;
  }
  #header_bottom {
    position: relative;
    margin-top: 2.5em;
  }
  #container {
    margin-left: 0;
  }
  /*
  	Content
  	========================================== 
  	*/
  /*Date size and post content ---------------------*/
  .date_wrap {
    width: 12%!important;
  }
  .metadata ul li {
    float: left;
  }
  .ql_lblog_item,
  .ql_lw_item {
    width: 47%!important;
    margin-left: 2%!important;
    display: inline-block !important;
    margin-bottom: 1.53846153846154em;
    vertical-align: top;
    float: none!important;
  }
  /*
  	Portfolio
  	--------------------------------
  	*/
  .ql_filter {
    display: none;
  }
  /*
  	Single Portfolio
  	--------------------------------
  	*/
  #portfolio_viewport {
    padding-left: 0;
    overflow: hidden;
  }
  .portfolio-post .post_content {
    width: auto;
    float: none;
    max-width: 100%;
    height: auto!important;
    margin: 0 1.53846153846154em;
  }
  .portfolio-post .entry_wrap {
    width: 100%;
    max-width: 100%;
    height: auto!important;
  }
  .portfolio-post iframe {
    max-width: 100%!important;
  }
  .portfolio_list_img {
    margin: 0 1.53846153846154em;
    display: block;
    max-width: 100%;
    width: auto!important;
    height: auto!important;
  }
  .portfolio_list_img ul li {
    display: block;
    height: auto!important;
    text-align: center;
    margin-bottom: 2.30769230769231em;
    margin-right: 0;
  }
  .portfolio_list_img ul li img {
    height: auto;
  }
  /*Comments Form---------------------------------------------------*/
  #respond .input-wrap {
    width: 46%;
  }
  /*
  	Video Player
  	========================================== 
  	*/
  .format-video #post_video {
    height: 232px;
  }
  /*2 Columns-------------------------------------------------------*/
  ul.portfolio2 li {
    width: 332px;
    margin-right: 3%;
  }
  /*3 Columns-------------------------------------------------------*/
  ul.portfolio3 li {
    width: 216px;
  }
  /*4 Columns-------------------------------------------------------*/
  ul.portfolio4 li {
    width: 159px;
  }
  .service_desc .offset1 {
    margin-left: 15.5%;
  }
}
/*
// Landscape phone to portrait tablet
// ------------------
*/
@media (min-width: 481px) and (max-width: 767px) {
  #wrap {
    display: block;
  }
  body {
    padding: 0;
  }
  #container {
    padding: 0 1.53846153846154em;
  }
  #header {
    position: relative;
    right: 0;
    width: 100%;
    /*margin-bottom: 1.53846153846154em;*/
  
  }
  #header .navbar {
    display: none;
  }
  .tinynav {
    display: block;
  }
  #nav {
    display: none;
  }
  .filter_list > ul > li {
    float: left;
    margin-right: 1.53846153846154em;
  }
  #header_bottom {
    position: relative;
    margin-top: 2.5em;
  }
  #container {
    margin-left: 0;
  }
  .blog #content {
    margin-left: 0;
  }
  .blog .post {
    margin-bottom: 0 1.53846153846154em 4.61538461538462em 1.53846153846154em;
  }
  .pagination_post {
    max-width: 100%!important;
    margin-left: 0!important;
  }
  /*
  	Content
  	--------------------------------
  	*/
  .date_wrap {
    display: none!important;
  }
  .meta_date {
    display: block;
  }
  .metadata ul li {
    float: left;
  }
  .ql_lblog_item,
  .ql_lw_item {
    width: 46%!important;
    margin-left: 2%!important;
    display: inline-block !important;
    margin-bottom: 1.53846153846154em;
    vertical-align: top;
  }
  /*
  	Portfolio
  	--------------------------------
  	*/
  .ql_filter {
    display: none;
  }
  /*
  	Single Portfolio
  	--------------------------------
  	*/
  #portfolio_viewport {
    padding-left: 0;
    overflow: hidden;
  }
  .portfolio-post .post_content {
    width: auto;
    float: none;
    max-width: 100%;
    height: auto!important;
    margin: 0 1.53846153846154em;
  }
  .portfolio-post .entry_wrap {
    width: 100%;
    max-width: 100%;
    height: auto!important;
  }
  .portfolio-post iframe {
    max-width: 100%!important;
  }
  .portfolio_list_img {
    margin: 0 1.53846153846154em;
    display: block;
    max-width: 100%;
    width: auto!important;
    height: auto!important;
  }
  .portfolio_list_img ul li {
    display: block;
    height: auto!important;
    text-align: center;
    margin-bottom: 2.30769230769231em;
    margin-right: 0;
  }
  .portfolio_list_img ul li img {
    height: auto;
  }
  /*
  	#portfolio_container{
  		width: 100%!important;
  		height: 100%!important;
  	}
  */
  /*Comments Form---------------------------------------------------*/
  #respond .input-wrap {
    width: 46%;
  }
  /*
  	Footer
  	--------------------------------
  	*/
  .footer_wrap {
    padding: 0 1.25em;
  }
  .sub_footer_wrap {
    padding: 1em;
  }
  /*
  	Sidebar
  	--------------------------------
  	*/
  #sidebar .widget {
    margin-left: 0em;
  }
  /*
  	Video Player
  	========================================== 
  	*/
  .format-video #post_video {
    height: 370px;
  }
  .portfolio_post {
    border-right: none;
    padding-right: 0;
  }
  /*2 Columns-------------------------------------------------------*/
  ul.portfolio2 li,
  ul.portfolio3 li,
  ul.portfolio4 li {
    width: 100%;
    margin-right: 0;
  }
}
/*
// Landscape phones and down
// ------------------
*/
@media (max-width: 480px) {
  #wrap {
    display: block;
  }
  body {
    padding: 0;
  }
  #container {
    padding: 0 1.53846153846154em;
  }
  #header {
    position: relative;
    right: 0;
    width: 100%;
    /*margin-bottom: 1.53846153846154em;*/
  
    padding: 0;
  }
  .logo_container {
    margin: 1.15384615384615em 0;
  }
  .logo_container h1 {
    display: block;
    text-align: center;
  }
  #header .navbar {
    display: none;
  }
  .tinynav {
    display: block;
    max-width: 100%;
  }
  #nav {
    display: none;
  }
  .filter_list > ul > li {
    float: left;
    margin-right: 1.53846153846154em;
  }
  #header_bottom {
    position: relative;
    margin-top: 2.5em;
  }
  #container {
    margin-left: 0;
  }
  /*
  	Content
  	--------------------------------
  	*/
  .blog #content {
    margin-left: 0;
  }
  .blog .post {
    margin: 0 10px 4.61538461538462em 10px;
    display: block;
    max-width: 100%;
  }
  .pagination {
    margin-top: 3.84615384615385em;
  }
  .pagination_post {
    max-width: 100%!important;
    margin-left: 0!important;
  }
  .date_t {
    top: 60%;
    font-size: 1em;
  }
  /*
  	Portfolio
  	--------------------------------
  	*/
  .ql_filter {
    display: none;
  }
  /*
  	Single Portfolio
  	--------------------------------
  	*/
  #portfolio_viewport {
    padding-left: 0;
    overflow: hidden;
  }
  .portfolio-post .post_content {
    width: auto;
    float: none;
    max-width: 100%;
    height: auto!important;
    margin: 0 1.53846153846154em;
  }
  .portfolio-post .entry_wrap {
    width: 100%;
    max-width: 100%;
    height: auto!important;
  }
  .portfolio-post iframe {
    max-width: 100%!important;
  }
  .portfolio_list_img {
    margin: 0 1.53846153846154em;
    display: block;
    max-width: 100%;
    width: auto!important;
    height: auto!important;
  }
  .portfolio_list_img ul li {
    display: block;
    height: auto!important;
    text-align: center;
    margin-bottom: 2.30769230769231em;
    margin-right: 0;
  }
  .portfolio_list_img ul li img {
    height: auto!important;
  }
  /*
  	Portfolio layout for iPhone portrait
  	*/
  #container {
    padding: 0;
  }
  .page-template-page-portfolio-php .portfolio_item {
    width: 300px;
    height: 147px;
  }
  .page-template-page-portfolio-php .layout_portrait1 {
    width: 150px!important;
    height: 300px!important;
  }
  .page-template-page-portfolio-php .layout_square {
    width: 150px!important;
    height: 150px!important;
  }
  .logo_container {
    margin-top: 0!important;
  }
  .tinynav {
    margin-bottom: 0!important;
  }
  .page-template-page-portfolio-php #portfolio_container {
    padding: 0!important;
    height: 440px!important;
  }
  /*Comments Form---------------------------------------------------*/
  #respond .input-wrap {
    width: 100%;
  }
  /*
  	Footer
  	--------------------------------
  	*/
  .footer_wrap {
    padding: 0 1.25em;
  }
  .sub_footer_wrap {
    padding: 1em;
  }
  /*
  	Sidebar
  	--------------------------------
  	*/
  #sidebar .widget {
    margin-left: 0em;
  }
  /*
  	Audio Player
  	========================================== 
  	*/
  .AudioPlayerV1 {
    width: 359px!important;
  }
  .APV1_container {
    width: 162px!important;
  }
  /*
  	Video Player
  	========================================== 
  	*/
  .format-video #post_video {
    height: 201px;
  }
  .portfolio_post {
    border-right: none;
    padding-right: 0;
  }
  /*2 Columns-------------------------------------------------------*/
  ul.portfolio2 li,
  ul.portfolio3 li,
  ul.portfolio4 li {
    width: 100%;
    margin-right: 0;
  }
}
/*
==========================================
LESS Variables and Mixins
========================================== 
*/
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media print {
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }
  a,
  a:visited {
    color: #444 !important;
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  @page  {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
