/*
Theme Name: Mantra
Theme URI: http://www.quemalabs.com
Description: A Premium WordPress Theme.
Version: 1.1
Author: Quema Labs
Author URI: http://www.quemalabs.com
License: GNU General Public License
License URI: License.txt
Tags: fullscreen, black, two-columns, fixed-width, custom-header, custom-background, threaded-comments, custom-menu
*/

/*
==========================================
Theme Styles
========================================== 
*/

html{font-size: 100%;}
*{.box-sizing(border-box);}
body{background-color: @backgroundColor;}
#wrap{
	position: relative;
	height: 100%;
}




/*
==========================================
Header
========================================== 
*/
@import "theme_less/header.less";



/*
==========================================
Container
========================================== 
*/
#container{
	position: relative;
	//padding-top: 3.84615384615385em;
}



/*
==========================================
Supersized
========================================== 
*/
@import "theme_less/supersized.less";





/*
==========================================
Video Background
========================================== 
*/
#video_bck{
	height: 100%;
    left: 0;
    margin: 0;
    position: relative;
    top: 0;
    width: 100%;
    z-index: 0;
}
#video_wrapper{
	height: 100%;
    width: 100%!important;
    overflow: hidden;
}
/*
==========================================
jPlayer
========================================== 
*/

#jquery_jplayer_1{
	width:0;
	height:0;
	display:none;	
}
#jp_interface_1 a{
	display: none;
}







/*
==========================================
Flex Slider
========================================== 
*/
@import "theme_less/flexslider.less";









/*
==========================================
Content
========================================== 
*/



/*
Service Home
---------------------------------------*/
.service_wrap{
	margin-bottom: 4.61538461538462em;
}
.service_item {
	text-align: center;
}
.service_item h3{
}
.service_item .service_icon i{
	line-height: 1.9em;
	font-size: 2.69230769230769em;
	color: @heroColor;
	width: 70px;
	height: 70px;
	display: block;
	.transition( all 200ms linear);
	background-color: @white;
	.border-radius(35px);
	text-align: center;
	margin: 0 auto;
	margin-bottom: 0.5em;
	border-width: 3px;
	border-style: solid;
}
.service_item:hover .service_icon i{	
	color: @white;
	background-color: @heroColor;
	text-shadow: 0 1px 0px rgba(0,0,0,.2)
}
.service_item p{
	
}





/*
Banner Call to Action
---------------------------------------*/
.banner_cta > div{
	background-color: #f7f6f6;
	padding: 2.5em 2em;
	position: relative;
}
.banner_cta > div h2, 
.banner_cta > div p{

}
.banner_cta > div .span2{
	text-align: center;
}
.banner_cta > div a.btn{
	padding: 1em 1.8em;
	margin-top: 0.9em;
	text-align: center;

	font-size:1.23076923076923em;
}



/*
Services Circles
---------------------------------------*/
.circle_service h3{
	text-align: center;
	font-size: 1.375em;
	margin-bottom: 0.5em;
	.transition( all 300ms linear);
}
.circle_service .circle_icon{
	width: 12.5em;
	height: 12.5em;
	.border-radius(7em);
	background-color: #e0dede;
	text-align: center;
	margin: 0 auto 0.625em auto;
	.transition( all 300ms linear);
}
.circle_service .circle_icon i{
	line-height: 1.8em;
	font-size: 7em;
	color: #fff;
	.transition( all 300ms linear);
}
.circle_service:hover h3{	
	color: @heroColor;
}
.circle_service:hover .circle_icon{
	background-color: @heroColor;
	.scale(1.1);
}
.circle_service:hover .circle_icon i{
    //.scale(1.5);
    font-size: 10em;
    line-height: 1.3em;
    text-shadow: 0px 1px 1px rgba(0,0,0,0.3);
}



/*
Read More Button
---------------------------------------*/
.read-more i{
	font-size: 0.84615384615385em;
	margin-left: 0.18181818181818em;
	text-decoration: none;
}
.read-more:hover i:before{
	text-decoration: none;
}




/*
Tagline
---------------------------------------*/
.ql_tagline{
	text-align: center;
	position: absolute;
	bottom: -130px;
	display: block;
	width: 100%;
	color: @white;
	padding: 2.30769230769231em 0;
	text-shadow: 0 1px 0 rgba(0,0,0,0.3);
}
.ql_tagline h2{
	margin-bottom: 0.6em;
	color: @white!important;
}




/*
Latest Blog
---------------------------------------*/
.ql_latest_blog .ql_lblog_item img{
	width: 100%;
}
.ql_latest_blog .ql_lblog_text{
	background-color: @grayBck;
	padding: 1.53846153846154em;
}
.ql_latest_blog .ql_lblog_text h4 a{
	color: inherit;
}



/*
Latest Work
---------------------------------------*/
.ql_latest_work .ql_lw_item img{
	width: 100%;
}
.ql_latest_work .ql_lw_item a.ql_info_footer{
	display: block;
	background-color: @grayBck;
	color: inherit;
	text-align: center;
	cursor: pointer;
	position: relative;
	text-shadow: none;
}
.ql_latest_work .ql_lw_item a.ql_info_footer:hover{
	background-color: @heroColor;
	color: @white;
	text-shadow: 0 1px 0px rgba(0,0,0,0.2);
}



/*
==========================================
Footer
========================================== 
*/
@import "theme_less/footer.less";













/*
==========================================
Blog & Pages
========================================== 
*/

.blog #content{
	margin-left: 100px;
	padding: 0 0 1.53846153846154em 0;
	background-color: transparent;
}

#content{
	padding: 1.53846153846154em;
	background: rgba(0,0,0,0.7);
	margin-bottom: 1.53846153846154em;
}

.single #content{
	padding: 0;
}
.page-template-gallery-fullscreen-php #content{
	display:none;
}



/*Archive									*/
/*------------------------------------------*/
.archive .post_content{
	padding: 0;
}
.archive .post{
	margin-bottom: 4.61538461538462em;
}
.archive .img_post, .archive .flex-container{
	margin-bottom: 1.53846153846154em;
}
.search-results article{
	margin-bottom: 5.38461538461538em;
}
/*Post										*/
/*------------------------------------------*/
.blog .post{
	position: relative;
	max-width: 34.61538461538462em;
	background-color: rgba(0,0,0,0.6);
	display: inline-block;
	margin-right: 2.30769230769231em;
	vertical-align: top;
}
.single article{
	
	margin-bottom: 2.30769230769231em;
	padding-bottom: 0;
}


.post_content{
	padding: 1.53846153846154em;
}


.entry{
	position: relative;
}

/*Page Title 								*/
/*------------------------------------------*/
.page_title{
	text-align: left;
	color: @white;
	padding: 1.53846153846154em;
	position: relative;
	@box_shadow: 0 -1px 1px rgba(0,0,0,0.2) inset;
	.box-shadow(@box_shadow);
	text-shadow: 0 1px 0px rgba(0,0,0,0.2);
}
.page_title .container{
	position: relative;

}
.page_title h2{
	margin-bottom: 0.17857142857143em;
	color: @white;
	font-size: 2.46153846153846em;
	display: inline-block;
}
.page_title p{
	font-style: italic;
	color: @white;
	font-family: @altFontFamily;
	display: inline-block;
}

/*Breadcrumbs								*/
/*------------------------------------------*/
#breadcrumbs{
	position: absolute;
	right: 0;
	bottom: 0;
	text-align: left;
}
	#breadcrumbs a{
		font-size: 0.76923076923077em;
		color: @white;
	}
		#breadcrumbs a:hover{
			text-decoration: underline;
		}
	#breadcrumbs span{
		font-size: 0.76923076923077em;
	}




/*Post Title 								*/
/*------------------------------------------*/
.post_title{
	position: relative;
}
.post_title h2{
	font-size: 1.84615384615385em;
}
.post_title h2 a{
	color:inherit;
}
.post_title h2 a:hover{
	color: @heroColor;
}




/*Post Icon		 							*/
/*------------------------------------------*/
.post .title_icon{
	position: relative;
}
.post_icon{
	width: 2.5em;
	height: 2.5em;
	//background-color: @heroColor;
	text-align: center;
	margin: 0;
	position: absolute;
	left: -4em;
}

.post_icon  i{
	line-height: 1.4em;
	font-size: 2.07692307692308em;
	color: @heroColor;
}




/*Post Controls 							*/
/*------------------------------------------*/
/*
.controls {
	position: absolute;
	top: -10em;
	right: 0;
}

.controls ul li{
	margin-bottom: 0.6em;
}
*/



	
/*Image Post								*/
/*------------------------------------------*/
.img_post{
	margin-bottom: 0;
	overflow: hidden;
	position: relative;
}
	.img_post a{
		display:block;
		text-align: center;
	}
	.img_post a img{
		width:100%;
		vertical-align: bottom;
		
	}



/*Metadata 									*/
/*------------------------------------------*/
.metadata{
	margin: 0.6em 0 ;
	overflow:hidden;
	text-shadow: 0 1px 0px rgba(0,0,0,0.2);
	border-top-width: 1px;
	border-top-style: solid;
	padding-top: 0.38461538461538em;
}


.metadata ul{
	margin:0;
}
.metadata ul li{
	list-style:none;
	/*padding-left:22px;*/
	font-size:0.84615384615385em;
	margin: 0;
	margin-right: 15px;
	color: @white;
	float: left;
	font-weight: bold;
	position: relative;
}

.metadata ul li strong{
	color: @textColor;
	font-style: normal;
}
.metadata ul li i{
	margin-right: 0.35714285714286em;
	font-size: 1.27272727272727em;
	vertical-align: middle;
	padding: 7px 0px;
	font-size: 1.27272727272727em;
	width: 30px;
	text-align: center;
	color: #fff;
}

.metadata ul li a{
	color: @white;
	text-decoration: none;
}
.metadata ul li a:hover{
	text-decoration: underline;
}
.metadata ul li.meta_comments{

}
.metadata hr{
	margin: 0;
}
.meta_date{
	display: none;
}

/*Date 										*/
/*------------------------------------------*/
.date_wrap{
	width: 8%!important;
}
.date_t {
	position: absolute;
	top: 75%;
	right: 0;
	font-size: 17px;
	font-weight: bold;
	display: block;
	background-color: @heroColor;
	padding: 0.58823529411765em;
	color: @contrastColor;
}
.date_t span{


}




/*Fancy Tags for posts													*/
/*----------------------------------------------------------------------*/
ul.fancy_tags{
	margin-top: 15px;
	clear: both;
	margin-left: 0;
}
ul.fancy_tags li{
	display:inline-block;
	margin:0 0.90909090909091em 0.90909090909091em 0;
	float:left;
	border:none;
}

ul.fancy_tags li a{
	background-color: @heroColor;
	display:inline-block;
	padding:3px 6px;
	color:@backgroundColor;
	font-weight:bold;
	.border-radius(3px);
	outline:none;
	text-decoration: none;
	font-size: 0.84615384615385em;
	line-height: 1.54545454545455em;
}
ul.fancy_tags li a:hover{
	color:@heroColor;
	text-decoration:none;
	background-color: @backgroundColor;
	text-indent: 0;
}
ul.fancy_tags li a:active{
	position: relative;
	top: 1px;
}

/*Pagination															*/
/*----------------------------------------------------------------------*/
.pagination_post{
	height: 600px;
	background: transparent!important;
	width: 450px;
}
.pagination{
	margin-top: 250px;
}
.pagination ul{
	display: block;
}
.pagination ul li a{
	background-color: transparent;
	color: @textColor;
}
.pagination ul li.active a{
	color: @contrastColor;
}


/*More Link 															*/
/*----------------------------------------------------------------------*/
.more-link{

	font-weight:bold;
	.transition( all 200ms linear);
	text-decoration: none;
}
.more-link:hover{
	text-decoration:underline;
}
.more-link:active{
	position: relative;
	top: 1px;
}
.more-link i{
	margin-left: 0.45454545454545em;
	font-weight:normal;
	text-decoration: none;
}

/*Edit Button															*/
/*----------------------------------------------------------------------*/
a.post-edit-link{
	background:url(images/edit_entry_btn.png) no-repeat;
	height:22px;
	width:100px;
	display:block;
	text-indent:28px;
	color:#8a8989;
	text-shadow:0 1px 0 #fdfdfd;
	margin-top:10px;
}
a.post-edit-link:hover{
	color:#656565;
	text-decoration:none;
}


/*
==========================================
Post Quote
========================================== 
*/
.post_icon  i.quote-icon{
	line-height: 1.2em;
	font-size:3.23076923076923em;
}
.post-quote .quote_content blockquote p{
	font-size: 1.61538em;
	line-height: 1.25em;
}


/*
==========================================
Post Image
========================================== 
*/
.post-image .flex-container{
	margin-bottom: 0;
}

















/*
==========================================
Sidebar
========================================== 
*/

@import "theme_less/sidebar.less";





/*
==========================================
Comments
========================================== 
*/
@import "theme_less/comments.less";


/*
==========================================
Portfolio
========================================== 
*/

@import "theme_less/portfolio.less";


/*
==========================================
Shortcodes
========================================== 
*/
@import "theme_less/shortcodes.less";





/*
==========================================
Global Styles
========================================== 
*/

@import "theme_less/global.less";















/*
// LARGE DESKTOP & UP
// ------------------
*/
@media (min-width: 1200px) {

	.jqueryslidemenu ul li ul.children{
	display: none;
	}
	.flexslider .slides li img{
		width: 100%;
	}
	/*
	Audio Player
	========================================== 
	*/
	.AudioPlayerV1{
		width:670px!important;
	}
	.APV1_container{width:473px!important;}
	/*
	Video Player
	========================================== 
	*/
	.format-video #post_video{height:376px;}



	.service_desc .offset1{
		margin-left: 15.3%;
	}
}








/*
// LPortrait tablet to landscape and desktop
// ------------------
*/
@media (min-width: 979px) and (max-width: 1199px) { 
	/*
	Audio Player
	========================================== 
	*/
	.AudioPlayerV1{
		width:540px!important;
	}
	.APV1_container{width:343px!important;}
	/*
	Video Player
	========================================== 
	*/
	.format-video #post_video{height:303px;}


	/*Comments Form---------------------------------------------------*/
	#respond .input-wrap{
		width:47%;
	}

	/*2 Columns-------------------------------------------------------*/
	ul.portfolio2 li {
		width:434px;
		margin-right:3%;
	}
	/*3 Columns-------------------------------------------------------*/
	ul.portfolio3 li {
		width:283px;
	}
	/*4 Columns-------------------------------------------------------*/
	ul.portfolio4 li {
		width:206px;
	}

	/*Date size and post content ---------------------*/
	.post_content{

	}
	.date_wrap{
		width: 10%!important;
	}

	.service_desc .offset1{
		margin-left: 14.8%;
	}
}




@media (min-width: 768px) and (max-width: 978px) { 


	#header{
		position: relative;
		right: 0;
		width: 100%;
		/*margin-bottom: 1.53846153846154em;*/
	}

	#header .navbar{display: none;}
	.tinynav { display: block; margin:2.30769em 0; float: right;}
    #nav { display: none; }

    .filter_list > ul > li {
    	float: left;
    	margin-right: 1.53846153846154em;
    }
    #header_bottom{
    	position: relative;
    	margin-top: 2.5em;
    }

    #container{
    	margin-left: 0;
    }




	/*
	Content
	========================================== 
	*/

	/*Date size and post content ---------------------*/
	.post_content{

	}
	.date_wrap{
		width: 12%!important;
	}

	.metadata ul li{
		float: left;
	}




	.ql_lblog_item, .ql_lw_item{
		width: 47%!important;
		margin-left: 2%!important;
		display: inline-block!important;
		margin-bottom: 1.53846153846154em;
		vertical-align:top;
		float: none!important;
	}

	/*
	Portfolio
	--------------------------------
	*/
	.ql_filter{
		display: none;
	}

	/*
	Single Portfolio
	--------------------------------
	*/
	#portfolio_viewport{
		padding-left: 0;
		overflow: hidden;
	}
	.portfolio-post .post_content{
		width: auto;
		float: none;
		max-width: 100%;
		height: auto!important;
		margin: 0 1.53846153846154em;
	}
	.portfolio-post .entry_wrap{
		width: 100%;
		max-width: 100%;
		height: auto!important;
	}
	.portfolio-post iframe{
		max-width: 100%!important;
	}
	.portfolio_list_img{
		margin: 0 1.53846153846154em;
		display: block;
		max-width: 100%;
		width: auto!important;
		height: auto!important;
	}
	.portfolio_list_img ul li{
		display: block;
		height: auto!important;
		text-align: center;
		margin-bottom: 2.30769230769231em;
		margin-right: 0;
	}
	.portfolio_list_img ul li img{
		height: auto;
	}


	/*Comments Form---------------------------------------------------*/
	#respond .input-wrap{
		width:46%;
	}


	/*
	Video Player
	========================================== 
	*/
	.format-video #post_video{height:232px;}

	/*2 Columns-------------------------------------------------------*/
	ul.portfolio2 li {
		width:332px;
		margin-right:3%;
	}
	/*3 Columns-------------------------------------------------------*/
	ul.portfolio3 li {
		width:216px;
	}
	/*4 Columns-------------------------------------------------------*/
	ul.portfolio4 li {
		width:159px;
	}

	.service_desc .offset1{
		margin-left: 15.5%;
	}
}


/*
// Landscape phone to portrait tablet
// ------------------
*/
@media (min-width: 481px) and (max-width: 767px) {

	#wrap{
		display: block;
	}
	body{padding: 0;}
	#container{
		padding: 0 1.53846153846154em;
	}

	#header{
		position: relative;
		right: 0;
		width: 100%;
		/*margin-bottom: 1.53846153846154em;*/
	}

	#header .navbar{display: none;}
	.tinynav { display: block; }
    #nav { display: none; }

    .filter_list > ul > li {
    	float: left;
    	margin-right: 1.53846153846154em;
    }

    #header_bottom{
    	position: relative;
    	margin-top: 2.5em;
    }

    #container{
    	margin-left: 0;
    }

    .blog #content{
    	margin-left: 0;
    }
    .blog .post{
    
    	margin-bottom: 0 1.53846153846154em 4.61538461538462em 1.53846153846154em;
    }
    .pagination_post{
		max-width: 100%!important;
		margin-left: 0!important;
	}
	/*
	Content
	--------------------------------
	*/

	.date_wrap{
		display: none!important;
	}
	.meta_date{
		display: block;
	}

	.metadata ul li{
		float: left;
	}

	.ql_lblog_item, .ql_lw_item{
		width: 46%!important;
		margin-left: 2%!important;
		display: inline-block!important;
		margin-bottom: 1.53846153846154em;
		vertical-align:top;
	}

	/*
	Portfolio
	--------------------------------
	*/
	.ql_filter{
		display: none;
	}
	
	/*
	Single Portfolio
	--------------------------------
	*/
	#portfolio_viewport{
		padding-left: 0;
		overflow: hidden;
	}
	.portfolio-post .post_content{
		width: auto;
		float: none;
		max-width: 100%;
		height: auto!important;
		margin: 0 1.53846153846154em;
	}
	.portfolio-post .entry_wrap{
		width: 100%;
		max-width: 100%;
		height: auto!important;
	}
	.portfolio-post iframe{
		max-width: 100%!important;
	}
	.portfolio_list_img{
		margin: 0 1.53846153846154em;
		display: block;
		max-width: 100%;
		width: auto!important;
		height: auto!important;
	}
	.portfolio_list_img ul li{
		display: block;
		height: auto!important;
		text-align: center;
		margin-bottom: 2.30769230769231em;
		margin-right: 0;
	}
	.portfolio_list_img ul li img{
		height: auto;
	}

/*
	#portfolio_container{
		width: 100%!important;
		height: 100%!important;
	}
*/

	/*Comments Form---------------------------------------------------*/
	#respond .input-wrap{
		width:46%;
	}

	/*
	Footer
	--------------------------------
	*/
	.footer_wrap{
		padding: 0 1.25em;
	}
	.sub_footer_wrap{
		padding: 1em;
	}
	/*
	Sidebar
	--------------------------------
	*/
	#sidebar .widget{
	margin-left: 0em;
	}
	/*
	Video Player
	========================================== 
	*/
	.format-video #post_video{height:370px;}



	.portfolio_post{
	border-right: none;
	padding-right: 0;
	}
	/*2 Columns-------------------------------------------------------*/


	ul.portfolio2 li,ul.portfolio3 li,ul.portfolio4 li {
		width:100%;
		margin-right:0;
	}

}


/*
// Landscape phones and down
// ------------------
*/

 @media (max-width: 480px) { 
 	#wrap{
		display: block;
	}
	body{padding: 0;}

	#container{
		padding: 0 1.53846153846154em;
	}

	#header{
		position: relative;
		right: 0;
		width: 100%;
		/*margin-bottom: 1.53846153846154em;*/
		padding: 0;
	}
	.logo_container{
		margin: 1.15384615384615em 0;
	}
	.logo_container h1{
		display: block;
		text-align: center;
	}

	#header .navbar{display: none;}
	.tinynav { display: block; max-width: 100%}
    #nav { display: none; }

    .filter_list > ul > li {
    	float: left;
    	margin-right: 1.53846153846154em;
    }

    #header_bottom{
    	position: relative;
    	margin-top: 2.5em;
    }

    #container{
    	margin-left: 0;
    }
 	/*
	Content
	--------------------------------
	*/
	.blog #content{
		margin-left: 0;
	}
	.blog .post{
		margin: 0 10px 4.61538461538462em 10px;
		display: block;
		max-width: 100%;
	}
	.pagination{
		margin-top: 3.84615384615385em;
		
	}
	.pagination_post{
		max-width: 100%!important;
		margin-left: 0!important;
	}
	.date_t {
		top: 60%;
		font-size: 1em;
	}

	/*
	Portfolio
	--------------------------------
	*/
	.ql_filter{
		display: none;
	}
	/*
	Single Portfolio
	--------------------------------
	*/
	#portfolio_viewport{
		padding-left: 0;
		overflow: hidden;
	}
	.portfolio-post .post_content{
		width: auto;
		float: none;
		max-width: 100%;
		height: auto!important;
		margin: 0 1.53846153846154em;
	}
	.portfolio-post .entry_wrap{
		width: 100%;
		max-width: 100%;
		height: auto!important;
	}
	.portfolio-post iframe{
		max-width: 100%!important;
	}
	.portfolio_list_img{
		margin: 0 1.53846153846154em;
		display: block;
		max-width: 100%;
		width: auto!important;
		height: auto!important;
	}
	.portfolio_list_img ul li{
		display: block;
		height: auto!important;
		text-align: center;
		margin-bottom: 2.30769230769231em;
		margin-right: 0;
	}

	.portfolio_list_img ul li img{
		height: auto!important;
	}
	/*
	Portfolio layout for iPhone portrait
	*/
	#container{
		padding: 0;
	}
	.page-template-page-portfolio-php .portfolio_item{
		width: 300px;
		height: 147px;
	}
	.page-template-page-portfolio-php .layout_portrait1{
		width: 150px!important;
		height: 300px!important;
	}
	.page-template-page-portfolio-php .layout_square{
		width: 150px!important;
		height: 150px!important;
	}
	.logo_container{
		margin-top: 0!important;
	}
	.tinynav{
		margin-bottom: 0!important;
	}
	.page-template-page-portfolio-php #portfolio_container{
		padding: 0!important;
		height: 440px!important;
	}



	
	/*Comments Form---------------------------------------------------*/
	#respond .input-wrap{
		width:100%;
	}


	/*
	Footer
	--------------------------------
	*/
	.footer_wrap{
		padding: 0 1.25em;
	}
	.sub_footer_wrap{
		padding: 1em;
	}

	/*
	Sidebar
	--------------------------------
	*/
	#sidebar .widget{
	margin-left: 0em;
	}
 	/*
	Audio Player
	========================================== 
	*/
	.AudioPlayerV1{
		width:359px!important;
	}
	.APV1_container{width:162px!important;}
	/*
	Video Player
	========================================== 
	*/
	.format-video #post_video{height:201px;}



	.portfolio_post{
	border-right: none;
	padding-right: 0;
	}


	/*2 Columns-------------------------------------------------------*/
	ul.portfolio2 li,ul.portfolio3 li,ul.portfolio4 li {
		width:100%;
		margin-right:0;
	}
  }












/*
==========================================
LESS Variables and Mixins
========================================== 
*/
@import "less/variables.less"; // Modify this for custom colors, font-sizes, etc
@import "less/mixins.less";









@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important;
  -ms-filter: none !important; } 
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }
  tr, img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}