

/*===========================================================================*/
/*Comments																	 */
/*===========================================================================*/
#comments{
	padding: 1.53846153846154em;
}
#comments h4{
	
}
.commentlist{
	margin-left: 0;
	margin-top: 2.30769230769231em;
}

#comments ol.commentlist li{
	list-style:none;
	margin-bottom:50px;
}
#comments .comment{
	margin-bottom:40px;
}
#comments .comment-author{
	text-align: center;
}
#comments .comment-author div.inner-gravatar{
	border:#fff 1px solid;
	text-shadow:0 1px 0 #fff;
	background: #e7e7e7; /* for non-css3 browsers */
	position:relative;
	width:80px;
	height:80px;
	margin: 0 auto;
	overflow: hidden;
	.border-radius(3px);
}
#comments .comment-author div.inner-gravatar div{
	width:80px;
	height:80px;
	z-index:10;
	position:absolute;
	.border-radius(3px);
}
#comments .comment-author img{
	z-index:5;
}
#comments .comment-author cite{
	font-weight:bold;
	margin-top: 4px;
	display: block;
	font-size: 0.92307692307692em;
	display: block;
}
#comments .comment-author cite, #comments .comment-author cite a{
	color:@textColor;
	font-weight: normal;
}
#comments .comment-author .comment-meta a{
	color:#aeaeae;
	font-size:11px;
}
ol.commentlist li .comment-entry{
	margin: 0;
	border-width: 1px;
	border-style: solid;
	position:relative;
	.border-radius(3px);
}

ol.commentlist li .comment-entry div.inner-comment{
	padding:30px;
}


.ie8 ol.commentlist li .comment-entry, .ie7 ol.commentlist li .comment-entry{
	float:right;
	border:#cacaca 1px solid;
	margin: 0;
	background-color: #f3f3f3; /* for non-css3 browsers */
	position:relative;
}

ol.commentlist li ul .comment-entry{
	
}
ol.commentlist li ul li ul .comment-entry{
	
}
ol.commentlist li ul li ul li ul .comment-entry{
	
}
ol.commentlist li ul li ul li ul li ul .comment-entry{
	
}
ol.commentlist .comment-entry span.arrow_comment{
	/*background:url(images/comment_arrow.png) no-repeat;*/
	display:block;
	position:absolute;
	width:31px;
	height:28px;
	top:17px;
	left:-22px;
}
.ie7 ol.commentlist .comment-entry span.arrow_comment, .ie8 ol.commentlist .comment-entry span.arrow_comment{
	background:none;
}
.comment-meta{
	float:left;
	margin-left:10px;
	margin-top:5px;
	font-size:11px;
	color:#c3c3c3;
}
.comment-meta a{
	font-size:11px;
	color:#c3c3c3;
}
.comment-meta a:hover{
	text-decoration:underline;
}
.reply{
	float:right;
	clear:right;
}
.comment-reply-link{
	width:54px;
	height:23px;
	display:block;
	color:@grayLight;
	font-size:11px;
	text-align:center;
	margin: 10px 0;
	line-height:20px;
}
.comment-reply-link:hover{
	text-decoration: underline;
}

#comments ul.children{
	margin-left: 30px;
	margin-top:20px;
	margin-bottom:10px;
}




/*===========================================================================*/
/*Comments	Form															 */
/*===========================================================================*/
#respond{
	padding: 1.53846153846154em;
}
#respond h4{
	margin-bottom: 1em;
}



#respond .input-wrap{
	margin:0px 15px 10px 0;
	float: left;
	width: 31%;
}
#respond .input-wrap.textarea{
	float: none;
	width: 97%;
}


#respond .controls-wrap{
	position: relative;
}

#respond input{
	padding-left: 2.30769230769231em;
	width: 100%;
}

#respond input:focus{
	outline:none;
	@box_shadow: 0 0px 2px rgba(0, 0, 0, .3) inset!important;
	.box-shadow(@box_shadow);
}
#respond .input label{
	margin-bottom:5px;
	display:block;
}
#respond textarea{
	width: 100%;
	height: 150px;
}
#respond textarea:focus{
	outline:none;
	.box-shadow(0 0px 2px rgba(0, 0, 0, .3) inset);
}
#respond .textarea{
	
}

#respond .controls-wrap i{
	position: absolute;
	left: 0.71428571428571em;
	top: 0.57142857142857em;
	font-size: 1.07692307692308em;
	color: #c4c4c4;
}
#respond .form-actions{
	background-color: transparent;
	border: none;
	padding: 0;
}

/*
#respond #submit-respond{
	width:130px;
	height:32px;
	color:#7e7e7e;
	cursor:pointer;
	display:block;
	line-height:30px;
	font-size:12px;
	text-align:center;
	box-shadow:none;
	background: #ebeaea; 
	background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#E0E0E0)); 
	background: -moz-linear-gradient(top,  #FFFFFF,  #E0E0E0); 
	background: -o-linear-gradient(top, #FFFFFF, #E0E0E0);
    border-color: #CCCCCC #CCCCCC #AAAAAA;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 0 1px #FFFFFF inset,  0 1px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow:  0 0 1px #FFFFFF inset,  0 1px 0 rgba(0, 0, 0, 0.1);
    -webkit-box-shadow:  0 0 1px #FFFFFF inset,  0 1px 0 rgba(0, 0, 0, 0.1) ;
    font-weight: bold;
    text-shadow: 0 0 0 transparent, 0 1px 0 #FFFFFF;
}
*/
#respond #submit-respond{
	font-size: 0.84615384615385em;
	color: @backgroundColor;
	background-color: @heroColor;
	.border-radius(3px);
	font-weight: bold;
	outline: none;
	border:none;
	width: auto;
}
#respond #submit-respond:hover{
	color: @heroColor;
	background-color: @backgroundColor;
	box-shadow:none;
}



