.box_b{
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, .35);
	-moz-box-shadow:  0 1px 2px rgba(0, 0, 0, .35);
	-webkit-box-shadow:  0 1px 2px rgba(0, 0, 0, .35);
	padding: 2px;
	margin-bottom: 0.6em;
	border: 3px solid #fff;
}

.cool_divider{
	background: url(images/line_divider.png) bottom repeat-x;
  	padding-bottom: 3px;
  	border: none;
  	margin: 2em 0;
}


.in_shadow{
	@bShadow: 0px 0px 3px rgba(0,0,0,.3) inset;
	.box-shadow(@bShadow);
}


.preloader { 
	background:url(images/preloader.gif) center center no-repeat @backgroundColor; 
	position: absolute;
	width: 100%;
	height: 100%;
	display: block;
	z-index: 30;
}

/*Call To Action Button													*/
/*----------------------------------------------------------------------*/
.btn-cta{
	background-color: @heroColor!important;
	background-image: none;
	color: @white;
	.in_shadow();
	border:none;
	.border-radius(2px);
	text-shadow: 0px 1px 1px rgba(0,0,0,0.3);
	font-weight: bold;
}
.btn-cta:hover{
	color: @white;
	text-shadow: 0px 1px 1px rgba(0,0,0,0.3);
	.opacity(90);

}

/*More Link 															*/
/*----------------------------------------------------------------------*/
.simple_btn{
	background-color: @heroColor;
	.border-radius(3px);
	color: #fff;
	font-size:0.6875em;
	font-weight:bold;
	padding: 0.27272727272727em 0.54545454545455em;
}
.simple_btn:hover{
	color: @heroColor;
	background-color: @white;
	text-decoration:none;
}
.simple_btn i{
	margin-left: 0.45454545454545em;
	font-weight:normal;
}


.triangle-up {
	width: 0;
	height: 0;
	border-left: 1.15384615384615em solid transparent;
	border-right: 1.15384615384615em solid transparent;
	border-bottom: 1.15384615384615em solid @white;
}


.transition-duration(@transition-duration) {
  -webkit-animation-duration: @transition-duration;
     -moz-animation-duration: @transition-duration;
       -o-animation-duration: @transition-duration;
          animation-duration: @transition-duration;
}




/*Before & After														*/
/*----------------------------------------------------------------------*/
.ql_beforeafter img{
	max-width: none!important;
}

/* Section Title														*/
/*----------------------------------------------------------------------*/
.ql_title{
	border-bottom: 1px solid @grayLighter;
	position: relative;
	padding-bottom: 5px;
}
.ql_title:before{
	content: " ";
	position: absolute;
	bottom: -2px;
	background-color: @heroColor;
	height: 3px;
	width: 50px;
	display: block;
	left: 0;
}


/* Section Title														*/
/*----------------------------------------------------------------------*/
.ql_line{
	border-bottom: 1px solid @heroColor;
	position: relative;
	margin: 1.53846153846154em 0;
	width: 6.15384615384615em;
	height: 1px;
	display: block;
}


/* QL Navigation Tabs													*/
/*----------------------------------------------------------------------*/
.ql_nav_tabs{
	border: none!important;

}
.ql_nav_tabs li{
	margin-bottom: 0;
}
.ql_nav_tabs li.active a{
	background-color: @heroColor;
	color: @white;
	text-shadow: 0 1px 0px rgba(0,0,0,0.2);
}
.ql_nav_tabs li.active a:hover{
	background-color: @heroColor;
	color: @white;
}
.ql_nav_tabs li a{
	font-size: 0.84615384615385em;
	font-weight: bold;
	padding: 7px;
	border: none!important;
	background-color: @grayBck;
	border-radius: 0!important;
	position: relative;
	padding-left: 35px;
	padding-right: 5.45454545454545em;
	outline: 0;
	margin-bottom: 0!important;
	color: @grayLight;
}
.ql_nav_tabs li a i{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	vertical-align: middle;
	padding-top: 10px;
	font-size: 1.27272727272727em;
	width: 30px;
	text-align: center;
}
.ql_nav_tabs li.active a i{
	background-color: rgba(0,0,0,0.1);
}

.tab-content h1, .tab-content h2, .tab-content h3, .tab-content h4, .tab-content h5{
	margin-top: 0;

}

/* Testimonials															*/
/*----------------------------------------------------------------------*/
.ql_testimonial_text{
	background-color: @grayBck;
	padding: 1.53846153846154em;
	margin-bottom: 0;
	font-family: @serifFontFamily;
	font-style: italic;
}
.ql_testimonial{
	position: relative;
}
.ql_testimonial .flex-direction-nav{
	.transition( all 200ms linear);
	position: absolute;
	top: 5px;
	right: -25px;
	.opacity(0);

}
.ql_testimonial:hover .flex-direction-nav{
	.translate(0,-5px);
	.opacity(100);
}

.ql_testimonial .flex-direction-nav li{
 	margin-bottom: 0;
}
.ql_testimonial .flex-direction-nav li a{
	background: @grayBck;
	border: none;
	color: @grayLight;
	text-shadow: none;
	.box-shadow(none);
	display: inline-block;
	outline: 0;
	float: none;
	top: 0;
	width: 25px;
	height: 25px;
	line-height: 25px;
	border-radius:0!important;
	font-size: 1.07692307692308em;
}
.ql_testimonial .flex-direction-nav li a:hover{
	color: @grayDark;
	background: darken(@grayBck, 5%);
}
.ql_testimonial .flex-control-nav{
	display: none;
}







/* Info Footer															*/
/*----------------------------------------------------------------------*/
.ql_info_footer{
	font-size: 0.84615384615385em;
	font-weight: bold;
	padding: 6px;
	border: none!important;
	background-color: @grayBck;
	border-radius: 0!important;
	position: relative;
	padding-left: 40px;
	padding-right: 0.90909090909091em;
	outline: 0;
	margin-bottom: 0!important;
	color: @white;
	line-height: 1.53846em;
	text-shadow: 0 1px 0px rgba(0,0,0,0.2);
}
.ql_info_footer.no-icon{
	padding-left: 0.90909090909091em;
	padding-right: 0.90909090909091em;
}
.ql_info_footer p{
	margin-bottom: 0!important;
}

.ql_info_footer i{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	vertical-align: middle;
	padding-top: 7px;
	font-size: 1.27272727272727em;
	width: 30px;
	text-align: center;
	background-color: rgba(0,0,0,0.1);
}


/*Hero Colors Classes													*/
/*----------------------------------------------------------------------*/
.hero_bck{
	background-color: @heroColor;
}

.hero_border{
	border-color: @heroColor;
}

/* Make Space between sections											*/
/*----------------------------------------------------------------------*/
.clear_space{
	margin: 2.30769230769231em 0;
}


/* Hover effect for thumbnails											*/
/*----------------------------------------------------------------------*/
.ql_thumbnail_hover{
	position: relative;
	display: block;
	text-align: center;
}
.ql_thumbnail_hover > span{
	display: block;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.7);
	position: absolute;
	top: 0;
	left: 0;
	.transition( all 200ms linear);
	.opacity(0);
}
.ql_thumbnail_hover:hover > span{
	.opacity(100);
}
.ql_thumbnail_hover > span > i{
	.transition( all 200ms ease-in-out);
	color: @white;
	font-size: 1.23076923076923em;
	top: -37%;
	position: relative;
	border: 2px solid @white;
	border-radius: 25px;
	padding: 8px;
}
.ql_thumbnail_hover:hover > span > i{
	top:45%;
}



/* Inputs																*/
/*----------------------------------------------------------------------*/
input{
	background-color: @grayBck;
	border: 1px solid #d1d1d1;
	width:100%;
	height:30px;
	display:block;
	padding: 0 40px 0 10px;
	line-height:32px;

	.box-sizing(border-box);
	@box_shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
	.box-shadow(@box_shadow);
}
.widget_search #s:focus{
	background:@backgroundColor;
	border:1px solid @heroColor;
}
