#header{
	padding: 0 7.69230769230769em;
	margin-bottom: 0;
	position: relative;
}

.sub_header{
	background-color: #4c4c4c;
	color: @grayLighter;
	font-size: 0.84615384615385em;
	height: 30px;
	line-height: 30px;
	overflow: hidden;
}
.sub_header p{

}
.logo_container{
	color: @textColor;
	margin: 1.92307692307692em 0;
}
.page-template-page-portfolio-php .logo_container{
	margin: 1.92307692307692em 0 0.38461538461538em 0;
}
.logo_container h1{
	margin-bottom: 0;
	
	display: table-cell;
    vertical-align: middle;
}
.logo_container h1 a{
	color: @textColor;

}
.logo_container p{
	float: left;
	line-height: 1.81818181818182em;
	color: @grayLight;
	font-size: 0.84615384615385em;
	margin-left: 1.53846153846154em;
	margin-top: 2.72727272727273em;
}
h2.intro_line{
	text-align: center;
	font-weight: normal;
	font-size: 2.07692307692308em;
	margin-bottom: 1.66666666666667em;
}
h2.intro_line strong{
	color: @heroColor;
}

/*-----------------------------*/



/*
Nav Menu
---------------------------------------*/
#header .navbar{
	margin-bottom: 0em;
	margin-top: 0;

}
#header .navbar .dropdown-toggle b{
	color: #a7a7a7;
	height: 10px;
}
#header .navbar-inner {
	background: transparent;

}

#header .jqueryslidemenu .nav{
	float: right;
}
/*Top level list items*/
#header .jqueryslidemenu > ul > li{
	float: left;
}
/*Top level menu link items style*/
#header .jqueryslidemenu > ul > li > a{
	text-decoration: none;
	font-weight: bold;
	color: @grayLight;
	font-size: 0.84615384615385em;
	padding: 40px 20px 25px 20px!important;
	text-transform: uppercase;
	display: table-cell;
    vertical-align: middle;
    text-shadow: 0 1px 0px rgba(0,0,0,0.2);
}

#header .jqueryslidemenu > ul > li > a:hover{
	color: @heroColor;
}


#header .jqueryslidemenu > ul > li.current_page_item > a, #header .jqueryslidemenu .current_page_parent > a{
	color: @white;
	text-shadow: 0 1px 0px rgba(0,0,0,0.2);
}
#header .jqueryslidemenu > ul > li.current_page_item > a:hover, #header .jqueryslidemenu .current_page_parent > a:hover{
	color: @white;
}


/* When the menu is open*/
.navbar .nav .open > .dropdown-toggle{
	background: transparent!important;
}

.in .jqueryslidemenu > ul  li:hover >  a{
	background: #f8f8f8;
	.box-shadow(none);
	border-bottom:none!important;
}
/*1st sub level menu*/
#header .jqueryslidemenu ul li ul{
background:#fff;
padding: 0!important;
left: 0;
.border-radius(0);
}

/*Sub level menu list items (undo style from Top level List Items)*/
#header .jqueryslidemenu ul li ul li{
border-bottom: 1px solid #f2f2f2;
}
.in .jqueryslidemenu ul li ul li{
border-bottom: none;
}

/* Sub level menu links style */
/*Sub level menu list items (undo style from Top level List Items)*/
.jqueryslidemenu ul li ul.children, .jqueryslidemenu ul li ul.sub-menu{
	display: none;
}
.jqueryslidemenu ul li.open > ul.children, .jqueryslidemenu ul li.open ul.sub-menu{
	display: block;
}


#header .jqueryslidemenu ul li ul li a{
height:30px;
line-height: 30px;
padding: 0px 15px!important;
font-size: 0.84615384615385em;
font-weight: bold;
}

.jqueryslidemenu ul li ul li a:hover{ /*sub menus hover style*/
	background: @contrastColor!important;
	text-shadow: 0 1px 0px rgba(0,0,0,0.2);
}

/*For 3rd level in Bootstrap*/
.dropdown-menu .sub-menu, .dropdown-menu .children {
    left: 100%;
    position: absolute;
    top: 0;
    visibility: hidden;
    margin-top: -1px;
    list-style: none;
}
.dropdown-menu li {
    position: relative;
}

.dropdown-menu li:hover .sub-menu, .dropdown-menu li:hover .children  {
    visibility: visible;
    display: block;
    left: 85%
}

/* Select Navigation */
.tinynav { 
	display: none;
	height: 2.2em;
	font-size: 1em;
	margin: 0 auto 1.2em auto;
 }
/*
End Nav Menu
---------------------------------------*/





/*
Header Text
---------------------------------------*/
#header_bottom{
	position: absolute;
	bottom: 20px;
	width: 100%;
	left: 0;
	right: 0;
	padding: 0 20px;
	text-align: center;
}
#header_bottom p{
	font-size: 0.84615384615385em;
}




