/*
==========================================
Latest from Blog
========================================== 
*/

.ql_latest_blog{
	margin-bottom: 6.15384615384615em;
}

/* Post format Gallery
-------------------------*/
.ql_latest_blog .flex-control-nav{
	display: none;
}

.ql_latest_blog .flex-direction-nav .flex-resize{
	display: none;
}
.ql_latest_blog .flexslider{
	overflow: hidden;
}
.ql_latest_blog .flexslider .flex-direction-nav{
	right: -40px;
	.transition( all 200ms linear);
}
.ql_latest_blog .flexslider:hover .flex-direction-nav{
	right: 10px;
}
.ql_latest_blog .flex-direction-nav li a{
	width: 25px;
	height: 25px;
	line-height: 22px;
	font-size: 10px;
	.opacity(50);
	.transition( all 200ms linear);
}
.ql_latest_blog .flex-direction-nav li a:hover{
	.opacity(100);
}



/* Post format Standard
-------------------------*/
.ql_latest_blog .img_post{
	margin-bottom: 0;
}


.ql_latest_blog .post_video{
	height: 151px;
}



.ql_latest_blog .AudioPlayerV1{
	width: 100%!important;
}


.ql_latest_blog .videoWrapper{
	padding-top: 0;
}




/*
==========================================
Latest from Portfolio
========================================== 
*/

.ql_latest_work{
	margin-bottom: 6.15384615384615em;
}





/*
==========================================
Contact Form Shortcode
========================================== 
*/
/* ------- Contact Form ------- */



#contact-form .input-wrap{
	margin:0px 15px 10px 0;
	float: left;
	width: 47%;
}
#contact-form .input-wrap.i_comment{
	width: 97%;
}


.controls-wrap{
	position: relative;
}

#contact-form input{
	padding-left: 2.30769230769231em;
	width: 100%;
}

#contact-form input:focus{
	outline:none;
	@box_shadow: 0 0px 2px rgba(0, 0, 0, .3) inset!important;
	.box-shadow(@box_shadow);
}

#contact-form input.error{
	border-color: red;
}
.input-wrap label{
	margin-bottom:5px;
	display:block;
	float: none;
	text-align: left;
}
#contact-form textarea{
	width: 100%;
	height: 150px;
}
#contact-form textarea:focus{
	outline:none;
	.box-shadow(0 0px 2px rgba(0, 0, 0, .3) inset);
}
#contact-form textarea.error{
	border-color: red;
}
.textarea{
	
}

.controls-wrap i{
	position: absolute;
	left: 0.71428571428571em;
	top: 0.57142857142857em;
	font-size: 1.07692307692308em;
	color: #c4c4c4;
}
.form-actions{
	background-color: transparent;
	border: none;
	padding: 0;
}

#submit-form{
	font-size: 0.84615384615385em;
	color: @backgroundColor;
	background-color: @heroColor;
	.border-radius(3px);
	font-weight: bold;
	outline: none;
	border:none;
	width: auto!important;
	padding: 0 2.30769em;
}
#submit-form:hover{
	color: @heroColor;
	background-color: @backgroundColor;
	box-shadow:none;
}


