body{font-family:Arial, Helvetica, sans-serif; background-color:#f9fafa;}
label{color:#333333; font-size:12px; width:150px; display:inline-block; text-align:right; margin-bottom:0px; font-family:"Lucida Grande", sans-serif; font-weight:bold;}
input{ margin-bottom:0px;}
#header{ 
	background:url(../images/sc_header_bck.png) repeat-x;
	height:60px;
	margin-bottom:25px;
}
#header h1{
	margin-left:150px;
	line-height:50px;
	color:#fff;
	font-weight:bold;
	text-shadow:#000 0px 1px 0px;
}
h1, h2, h3 ,h4 ,h5 ,h6{
	color:#363636;
	margin-bottom:5px;
	
}
h1{font-size:20px;}
h2{font-size:18px;}
h3{font-size:16px;}
h4{font-size:14px; font-weight:normal;}
textarea{
	width: 100%;
	height: 100px;
}
/*Columns									*/
/*------------------------------------------*/
#column-controls input{
	display:none;	
}
#column-controls, .column-content{
	margin-left:150px;
	margin-right:50px;
}

.line{
	float:left;
	margin-right:10px;
}
#column-controls span{
	display:block;	
	margin: 10px 0;
	padding:5px;
}
#column-controls span img:hover{
	opacity:0.8;
}

.shortcode-div, .columns-layouts{
	display:none;
	position:relative;
}
.column-content{
	margin-bottom:	15px;
	display:none;
}
.column-content textarea{
	width: 100%;
	height: 100px;
}
#code_text{
	width:300px;
	height:100px;
}

#btn_color, #btn_color_label, #dropcap_color_label{
float:left;	
}
#btn_color{
	margin: 5px 0 5px 5px;	
}

.input_content{
	margin-bottom:15px;
	margin-right:50px;
}
a#one_more_list, a#one_more_tab{
	font-size:13px;
	font-weight:bold;
	color:#363636;
	margin: 10px 150px;
	text-decoration:none;
}
a#one_more_list:hover, a#one_more_tab:hover{
	text-decoration:underline;
}

.tabs h4, .tabs textarea, .tabs h3{
	margin-left:150px;
}
.tabs h4{
	margin-top:10px;
}
.tabs textarea{
	width: 300px;
	height: 100px;
}
.tabs h3{
	margin-bottom:15px;
}


#icons_list{
	margin-left:150px;	
}
#icons_list img{
	margin:5px!important;	
}

#icons_list img:hover{
	opacity:0.8;
}


.margin{
	margin-left:150px;
}

.view_code_btn{
	background:url(../images/view_code_btn.png) no-repeat;
	width:135px;
	height:37px;
	display:inline-block;
	*display:block;
	text-indent:-9999px;
	margin: 15px 20px 15px 150px;
}
#output-div{
	display:none;
}
#output-div h3{
	 margin-left:150px;
	
}





.toggle-content{
	margin-left:150px;
	display:block;
	margin-right:50px;
}

/* ------- Code ------- */
.code {
background:#f4f5f5 url(code.png) repeat;
padding:20px 10px;
}
.code, .pre {
border:1px solid #E0E0E0;
overflow:auto;
white-space:pre-wrap;
line-height:20px;
font-size:12px;
display:block;
margin-left:150px;
}
.check-box{
	background:url(check-box.png) no-repeat 15px 50%;
	background-color:#63ee8a;
	border:#038b29 1px solid;
	-moz-border-radius:5px 5px 5px 5px;
	border-radius:5px 5px 5px 5px;
	color:#046b21;
	padding:15px 15px 15px 60px;
	margin:15px 0 15px 150px;
	display: inline-block;
	white-space:nowrap;
}
.check-box p{
	display: inline;
	white-space:nowrap;
}
.image-frame{
	-moz-box-shadow:0 1px 3px #919192;
	box-shadow: 0 1px 3px #919192;
	-webkit-box-shadow: 0 1px 3px #919192;
	-o-box-shadow: 0 1px 3px #919192;

	
	
	
	background-color:#e8e9e9;
	background:-moz-linear-gradient(center bottom , #e8e9e9 0px, #F2F2F2 100%) repeat scroll 0 0 transparent;
	background:-webkit-gradient(linear,left bottom,left top, color-stop(0, #e8e9e9),color-stop(1, #F2F2F2));
	border:1px solid #FFFFFF !important;
	padding:6px;
	-moz-border-radius:4px;
	border-radius:4px;
	-webkit-border-radius:4px;
	margin-left:150px;
	margin-bottom:15px;
}
.clear{
	clear:both;	
}
.copy{
	display:none;	
}