.home_page_slider{
	margin-bottom: 4.61538461538462em;
}
.home_page_slider .flex-direction-nav { bottom: 80px; }
.flex-resize{
	display: none!important;
}
.format-gallery{
	.flex-resize, .flex-next, .flex-prev{
		display: none;
	}

} 
.flex-control-nav{
	top: 20px;
	bottom: inherit;
	right: 20px;
	width: auto;
}
.flex-control-nav li{
	width:14px; height:14px; float:left; margin:0 0 0 8px; 
}
.flex-control-nav li a{
	.ss_button;
		@bShadow: 0px 1px 2px rgba(0,0,0,.3);
		.box-shadow(@bShadow);
		width:10px;
		height:10px;
		border-width: 1px;
		left: 0;
		right: 0;
}
.flex-control-nav li a.flex-active, .flex-control-nav li a:hover{ background-color: rgba(255,255,255, 0.5); }


.flex-direction-nav{
	position: absolute;
	right: 1.53846153846154em;
	bottom: 0;
}
.flex-direction-nav li{
	margin-bottom: 1.15384615384615em;
}
.flex-direction-nav li a{
	.ss_button;
}

.flex-direction-nav li a:hover{
	background-color: rgba(0,0,0, 1);
	border: rgba(255,255,255, 1) 2px solid;
	color: @white;
}

.flex_carousel .slides li{
	cursor: pointer;
}


.flex-caption{
	position: absolute;
	bottom: 1.53846153846154em;
	left: 1.53846153846154em;
	padding: 1.53846153846154em;
	background-color: rgba(0,0,0,0.6);
	font-size: 1.15384615384615em;
}