#portfolio_viewport{
	max-width: 100%;
	padding-left: 7.69230769230769em;
	outline: none;

}
#portfolio_container{
	height: 700px;
	padding: 1.53846153846154em 0;
	overflow: visible!important;
}

.notloadyet{
	height: 700px!important;
	overflow: hidden;
}

.portfolio_item{
	width: 450px;
	
	float: left;
	height: auto;
	height: 220px;
	margin: 5px;
}
.layout_square{
	width: 220px;
	height: 220px;
}
.layout_portrait1{
	width: 220px;
	height: 450px;
}
.portfolio_item a{
	display: block;
	position: relative;
	width: 100%;
	height: 100%;
	.transition-duration(0.6s);
}
.portfolio_item img{
	width: 100%;
	margin: 0;
	height: auto;
	vertical-align: bottom;
}
.portfolio_item .baw_image{
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	.opacity(100);
	.transition( all 300ms linear);
}

#wrap:hover .portfolio_item .baw_image{
	.opacity(0);
}



.portfolio_item  .ql_hover{
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: @backgroundColor;
	color: @white;
	text-align: left;
	.transition( all 200ms linear);
	.opacity(0);
	border-width: 1px;
	border-style: solid;
}
.portfolio_item:hover .ql_hover{
	.opacity(100);
}
.portfolio_item a .ql_hover .p_icon{
	position: absolute;
	top: 0px;
	right: 0px;
	background-color: @heroColor;
	width: 30px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	color: @backgroundColor;
	font-weight: bold;
	font-size: 1.07692307692308em;
}
.portfolio_item .ql_hover > .ql_hover_content{
    height: 100%;
    position: absolute;
    width: 100%;
    overflow: hidden;
}
.portfolio_item .ql_hover > .ql_hover_content > div{
    padding: 1.15384615384615em;
}
.portfolio_item .ql_hover h2{
	color: @textColor;
	margin-bottom: 5px;
	font-size: 1.53846153846154em;
	text-transform: uppercase;
	line-height: 1.2em;
}
.portfolio_item .ql_hover p{
	color: @grayLight;
}
.portfolio_item .ql_hover .short_line{
	display: block;
	height: 1px;
	width: 20%;
	border-top: 1px solid @heroColor;
}
.portfolio_item .ql_hover .portfolio_cats{
	position: absolute;
	bottom: 10px;
	font-size: 0.84615384615385em;
	width: 100%;
	color: @grayLight;
}

.portfolio_item .ql_hover .ql_info_footer{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	color: @contrastColor;
	text-shadow: none;
}





.ql_info_footer2 {
	font-size: 0.84615384615385em;
	font-weight: normal;
	padding: 5px 0 6px 0;
	border: none!important;
	line-height: 19px;
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	padding-left: 40px;
	margin-bottom: 0;
	height: 30px;
	overflow: hidden;
}

.ql_info_footer2 i{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	vertical-align: middle;
	font-size: 1.27272727272727em;
	height: 30px;
	width: 30px;
	line-height: 30px;
	text-align: center;
	background-color: @heroColor;
	color: @contrastColor;
}


.portfolio_item .portfolio_icon{
	background-color: transparent;
	position: absolute;
	top: 50%;
	text-align: center;
	font-size: 42px;
}






/*
Scrollbar
------------------------
*/
.scrollbar {
    background: none repeat scroll 0 0 #CCCCCC;
    height: 2px;
    line-height: 0;
    margin: 0 0 1em;
}
.scrollbar .handle {
    background: none repeat scroll 0 0 #292A33;
    cursor: pointer;
    height: 100%;
    width: 100px;
}
.scrollbar .handle .mousearea {
    height: 20px;
    left: 0;
    position: absolute;
    top: -9px;
    width: 100%;
}


/*
Portfolio Single
------------------------
*/

.portfolioItem_sidebar{
	margin-top: 1.53846153846154em;
}
.portfolioItem_sidebar ul{
	margin: 0;
}
.portfolioItem_sidebar ul li{
	margin-bottom: 0.76923076923077em;
}





.page-template-portfolio-3columns-php header, .page-template-portfolio-2columns-php header, .page-template-portfolio-4columns-php header, .page-template-portfolio-1column-php header{
	margin-bottom:0;
}
.portfolio_page h2{
	margin-bottom:25px;	
}






/*
Filter
---------------------------------------*/
.filter_list{
	margin-right: 3.84615384615385em;
	float: left;
	margin-bottom: 0.38461538461538em;
	margin-top: 0.38461538461538em;
}
.filter_list h4{
	color: @textColor;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	font-size: 1em;
	margin-bottom: 0;
	display: inline-block;
	float: left;
	margin-right: 1.53846153846154em;
	font-size: 0.92307692307692em;
}
.filter_list ul{
	list-style: none;
	color: @white;
	margin-left: 0;
	margin-bottom: 0;
	float: left;

}
.filter_list ul li{
	margin-bottom: 0;
	float: left;
	margin-right: 1.15384615384615em;
}
.filter_list ul li a{
	color: #a7a7a7;
	font-size: 0.84615384615385em;
	font-weight: bold;
	outline: 0;
	padding: 0;
	display: block;
	text-transform: uppercase;
}
.filter_list ul li a:hover{
	color: @heroColor;
}
.filter_list ul li.active a{
	color: @heroColor;
}
.filter_list ul li i{
	font-size: 1.15384615384615em;
	margin-right: 0.38461538461538em;
	.opacity(50);
	display: none;
}
.filter_list ul li.active i, .filter_list ul li:hover i{
	.opacity(100);

}






/*
Sort Buttons
--------------------------------
*/
ul.source{
	margin-bottom:1.25em;
	margin-left:0;
	overflow: hidden;
}
ul.source li{
	display:inline;
	margin-right:15px;
	position:relative;
	float:left;
}
ul.source li a{
	display:block;
	color:#929292;
	.border-radius(3px);
	font-size:0.6875em;
	font-weight:bold;
	padding: 0.27272727272727em 0.54545454545455em;
	outline: none;
}
ul.source li a:hover{
	color: @heroColor;
}
ul.source li.active a{
	background-color: @heroColor;
	color: #fff;
}
ul.source li.active a:hover{
	color: @heroColor;
	background-color: @white;
	text-decoration:none;
}
/*-----------------------------*/



ul.portfolio_items{
    display: block;
    letter-spacing: -4px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    word-spacing: -4px;
}
ul.portfolio_items li{
	list-style:none;
	display: inline-block;
    letter-spacing: normal;
    padding: 0;
    position: relative;
    vertical-align: top;
    word-spacing: normal;
}
ul.portfolio_items li .portfolio_img_wrap{
	position:relative;
}
ul.portfolio_items li a.portfolio_img{
	position:relative;	
	clear:both;
	z-index:1;
}

.shadow_portfolio{
	float:left;
	z-index:0;
	position:absolute;
	bottom:0;
	left:0;
}

#content .portfolio_items a.more-link{
}
/*
#content .portfolio_items a.more-link:hover{
	color:#656565;
	text-decoration:none;
}
*/

#content .portfolio_items .portfolio_info p{
	color:#AAAAAA;
}

/*1 Column-------------------------------------------------------*/
ul.portfolio1 li {
	margin-bottom:30px;
}
ul.portfolio1 li .portfolio_img span{
	position:absolute;
	width:700px;
	height:490px;
	display:none;
	z-index:10;
	top:0px;
	left:0px;
}
ul.portfolio1 li a.portfolio_img img{
	position:relative;	
}

ul.portfolio1 li a.portfolio_img{
	width:700px;
	height:490px;
	display: block;
}
ul.portfolio1 li .portfolio_img_wrap{
	width:700px;
	height:490px;
}
ul.portfolio1 .portfolio_info a.more-link{
	margin-top:0!important;
	left:0px!important;
}
ul.portfolio1 .portfolio_info{

}


/*2 Columns-------------------------------------------------------*/
ul.portfolio2 li {
	margin-bottom:30px;
	/*float:left;	*/
	width:320px;
	margin-right:30px;
}
ul.portfolio2 li .portfolio_img span{
	position:absolute;
	width:320px;
	height:225px;
	display:none;
	z-index:10;
	top:0px;
	left:0px;
}
ul.portfolio2 li a.portfolio_img img{
	position:relative;	
}

ul.portfolio2 li a.portfolio_img{
	width:320px;
	height:225px;
	display: block;
}
ul.portfolio2 li .portfolio_img_wrap{
	width:320px;
	height:225px;
}
ul.portfolio2 .portfolio_info a.more-link{
	margin-top:0!important;
	left:0px!important;
}
ul.portfolio2 .portfolio_info{
}


/*3 Columns-------------------------------------------------------*/
ul.portfolio3 li {
	margin-bottom:30px;
	/*float:left;	*/
	width:205px;
	margin-right:25px;
}
ul.portfolio3 li .portfolio_img span{
	position:absolute;
	width:205px;
	height:150px;
	display:none;
	z-index:10;
	top:0px;
	left:0px;
}
ul.portfolio3 li a.portfolio_img img{
	position:relative;	
}

ul.portfolio3 li a.portfolio_img{	
	width:205px;
	height:150px;
	display: block;
}
ul.portfolio3 li .portfolio_img_wrap{	
	width:205px;
	height:150px;
}
ul.portfolio3 .portfolio_info{	
}
ul.portfolio3 .portfolio_info h3{
	font-size:15px;
}
ul.portfolio3 .portfolio_info a.more-link{
	margin-top:0!important;
	left:0px!important;
}
ul.portfolio3 .portfolio_img span.zoom {
	bottom:-2px;
}



/*4 Columns-------------------------------------------------------*/
ul.portfolio4 li {
	margin-bottom:20px;
	/*float:left;	*/
	width:195px;
	margin-right:30px;
}
ul.portfolio4 li .portfolio_img span{
	position:absolute;
	width:195px;
	height:130px;
	display:none;
	z-index:10;
	top:0px;
	left:0px;
}
ul.portfolio4 li a.portfolio_img img{
	position:relative;	
}

ul.portfolio4 li a.portfolio_img{
	float:left;	
	width:195px;
	height:130px;
}
ul.portfolio4 li .portfolio_img_wrap{
	float:left;	
	width:195px;
	height:145px;
}
ul.portfolio4 .portfolio_info{
	float:left;	
	width:195px;
}
ul.portfolio4 .portfolio_info h3{
	font-size:13px;
}
ul.portfolio4 .portfolio_info a.more-link{
	margin-top:0!important;
	left:0px!important;
}
ul.portfolio4 .portfolio_img span.zoom {
	bottom:-2px;
}








/*
==========================================
Single Portfolio
========================================== 
*/
.portfolio-post #portfolio_viewport{
	padding-left: 1.53846153846154em;
}
.portfolio-post .img_post a{
	display: block;
	margin-bottom: -2px;
}
.single-portfolio article{
	margin-bottom: 0;
}
.portfolio-post .post_content{
	float: left;
	max-width: 300px;
	margin-right: 30px;
	position: relative;
	z-index: 1;
	padding: 0;
}
.portfolio-post .entry_wrap{
	height: 100%;
    max-width: 300px;
    padding-right: 0.76923076923077em;
}
.portfolio-post .entry{
	height: 100%;
    max-width: 100%;
}

.portfolio-post .entry h1{
	margin-bottom: 0.26315789473684em;
}


.portfolio_list_img {
	height: 100%;
    white-space: nowrap;
    width: 100%;
    outline: none;
    display: inline;
}
.portfolio_list_img ul{
	height: 100%;
    white-space: nowrap;
    width: 100%;
    margin: 0;
}
.portfolio_list_img ul li{
	list-style: none;
	height: 100%;
	display: inline-block;
    margin: 0 2.30769230769231em 0 0;
    position: relative;
    vertical-align: top !important;
    white-space: normal;
    width: auto;

}
.portfolio_list_img ul li img{
	height: 100%;
    vertical-align: middle;

}


.portfolio_video{
	max-width: 100%;
}

